/** MOBILE VERSION OF ABOUT US PAGE **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
main.about {
  // INTRODUCTION SECTION ON ABOUT US PAGE //
  // HEADING AND FIRST PARAGRAPH //
  section {
    &:nth-of-type(1) {
      display: grid;
      grid-template-columns: [line-0]15vw [line-1]70vw [line-2]15vw [line-3];
      grid-template-rows: [row-0]15vh [row-1]auto [row-2]auto [row-3]auto [row-4];

      // BONES BETWEEN HEADING //
      img {
        &:nth-of-type(1) {
          grid-column: line-0 / line-1;
          grid-row: row-0 / row-1;
          transform: rotate(90deg);
          width: 15vw;
          height: auto;
          justify-self: end;
          align-self: center;
        }

        &:nth-of-type(2) {
          grid-column: line-2 / line-3;
          grid-row: row-0 / row-1;
          transform: rotate(90deg);
          width: 15vw;
          height: auto;
          justify-self: start;
          align-self: center;
        }

        &:nth-of-type(3) {
          grid-column: line-0 / line-3;
          grid-row: row-2 / row-3;
          width: 100%;
          height: auto;
        }

        // IMAGE NOT VISIBLE //
        &:nth-of-type(4) {
          width: 0;
          height: 0;
        }
      }

      h2 {
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-1;
        align-self: center;
        font-size: 36px;
        font-weight: 900;
        margin: 0;
        text-align: center;
      }

      p {
        text-align: center;

        &:nth-of-type(1) {
          grid-column: line-1 / line-2;
          grid-row: row-1 / row-2;
        }

        &:nth-of-type(2) {
          grid-column: line-1 / line-2;
          grid-row: row-3 / row-4;
        }
      }
    }

    // NO ANIMATION REQUIRED ON MOBILE VERSION - SO NO IMAGES VISIBLE //
    &:nth-of-type(2) {
      img {
        width: 0;
        height: 0;
      }
    }

    // 'HOW IT WORKS' SECTION ON ABOUT US PAGE //
    &:nth-of-type(3) {
      display: grid;
      grid-template-columns: [line-0]15vw [line-1]70vw [line-2]15vw [line-3];
      grid-template-rows: [row-0]15vh [row-1]auto [row-2]auto [row-3]auto [row-4];

      img {
        &:nth-of-type(1) { // BONE IMAGE //
          grid-column: line-0 / line-1;
          grid-row: row-0 / row-1;
          transform: rotate(90deg);
          width: 15vw;
          height: auto;
          justify-self: end;
          align-self: center;
        }

        &:nth-of-type(2) { // BONE IMAGE //
          grid-column: line-2 / line-3;
          grid-row: row-0 / row-1;
          transform: rotate(90deg);
          width: 15vw;
          height: auto;
          justify-self: start;
          align-self: center;
        }

        &:nth-of-type(3) { // IMAGE OF FOUR DOGS //
          grid-column: line-0 / line-3;
          grid-row: row-2 / row-3;
          width: 100%;
          height: auto;
          padding: 2vh 0vw;
        }
      }

      h2 {
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-1;
        align-self: center;
        font-size: 36px;
        font-weight: 900;
        margin: 0;
        text-align: center;
        padding: 0vh 10vw;
      }

      p {
        text-align: center;

        &:nth-of-type(1) {
          grid-column: line-1 / line-2;
          grid-row: row-1 / row-2;
        }

        &:nth-of-type(2) {
          grid-column: line-1 / line-2;
          grid-row: row-3 / row-4;
        }
      }
    }

    // NO ANIMATION REQUIRED ON HOME PAGE - SO NO IMAGES VISIBLE //
    &:nth-of-type(4) {
      img {
        width: 0;
        height: 0;
      }
    }

    // 'WHERE WE GO' SECTION ON ABOUT US PAGE //
    &:nth-of-type(5) {
      display: grid;
      grid-template-columns: [line-0]15vw [line-1]70vw [line-2]15vw [line-3];
      grid-template-rows: [row-0]15vh [row-1]auto [row-2]auto [row-3]auto [row-4];

      img {
        &:nth-of-type(1) { // BONE IMAGE //
          grid-column: line-0 / line-1;
          grid-row: row-0 / row-1;
          transform: rotate(90deg);
          width: 15vw;
          height: auto;
          justify-self: end;
          align-self: center;
        }

        &:nth-of-type(2) { // BONE IMAGE //
          grid-column: line-2 / line-3;
          grid-row: row-0 / row-1;
          transform: rotate(90deg);
          width: 15vw;
          height: auto;
          justify-self: start;
          align-self: center;
        }

        // IMAGE NOT DISPLAYED ON SCREEN //
        &:nth-of-type(3) {
          width: 0;
          height: 0;
        }
      }

      h2 {
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-1;
        align-self: center;
        font-size: 36px;
        font-weight: 900;
        margin: 0;
        text-align: center;
        padding: 0vh 15vw;
      }

      p {
        text-align: center;

        &:nth-of-type(1) {
          grid-column: line-1 / line-2;
          grid-row: row-1 / row-2;
        }

        &:nth-of-type(2) {
          grid-column: line-1 / line-2;
          grid-row: row-3 / row-4;
          padding: 3vh 0vw;
        }
      }
    }
  }
}

/** DESKTOP VERSION OF ABOUT US PAGE **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.about {
    section {
      // INTRODUCTION SECTION ON HOME PAGE //
      // HEADING AND FIRST PARAGRAPH //
      &:nth-of-type(1) {
        display: grid;
        grid-template-columns: [line-0]40vw [line-1]45vw [line-2]15vw [line-3];
        grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3];

        img {
          &:nth-of-type(1) { // IMAGE NOT VISIBLE //
            display: none;
          }

          &:nth-of-type(2) { // IMAGE NOT VISIBLE //
            display: none;
          }

          &:nth-of-type(3) { // IMAGE NOT VISIBLE //
            display: none;
          }

          &:nth-of-type(4) {
            grid-column: line-0 / line-1;
            grid-row: row-0 / row-3;
            width: 35vw;
            height: 45vh;
            object-fit: cover;
            border: 0.5vw solid #EB7859;
            align-self: center;
            border-radius: 1vh;
            border-left: none;
          }
        }

        h2 {
          grid-column: line-1 / line-2;
          grid-row: row-0 / row-1;
          text-align: center;
          place-self: center;
          font-size: 100px;
          margin: 0;
        }

        p {
          grid-column: line-1 / line-2;
          padding: 1.5vh 0vw;

          &:nth-of-type(1) {
            grid-row: row-1 / row-2;
            font-size: 20px;
            text-align: center;
          }

          &:nth-of-type(2) {
            grid-row: row-2 / row-3;
            font-size: 20px;
            text-align: center;
          }
        }
      }

      // ANIMATION IMPLEMENTED ON ABOUT US PAGE //
      // ACTS LIKE A DOG'S PRINTS APPEARING ACROSS THE SCREEN //
      &:nth-of-type(2) {
        display: grid;
        // EACH IMAGE ALLOCATED ITS OWN COLUMN IN CSS GRID //
        grid-template-columns: [line-0]10vw [line-1]10vw [line-2]10vw [line-3]10vw [line-4]10vw [line-5]10vw [line-6]10vw [line-7]10vw [line-8]10vw [line-9]10vw [line-10];
        grid-template-rows: [row-0]25vh [row-1];

        // IMAGES OF PAW PRINTS //
        img {
          transform: rotate(90deg);
          width: 8vw;
          height: auto;
          grid-row: row-0 / row-1;
          align-self: center;
          animation: fadeInOut 5s linear both; // RELEVANT ANIMATION FOR IMAGES //
          animation-iteration-count: infinite; // COUNTINOUSLY OCCURS //

          // ANIMATION DELAY IMPLEMENETED TO ENHANCE EFFECT //
          &:nth-of-type(1) { // FIRST PRINT //
            grid-column: line-0 / line-1;
            animation-delay: 0.5s;
          }
          &:nth-of-type(2) { // SECOND PRINT //
            grid-column: line-1 / line-2;
            animation-delay: 1.5s;
          }
          &:nth-of-type(3) { // THIRD PRINT //
            grid-column: line-2 / line-3;
            animation-delay: 2.5s;
          }
          &:nth-of-type(4) { // FOURTH PRINT //
            grid-column: line-3 / line-4;
            animation-delay: 3.5s;
          }
          &:nth-of-type(5) { // FIFTH PRINT //
            grid-column: line-4 / line-5;
            animation-delay: 4.5s;
          }
          &:nth-of-type(6) { // SIXTH PRINT //
            grid-column: line-5 / line-6;
            animation-delay: 5.5s;
          }
          &:nth-of-type(7) { // SEVENTH PRINT //
            grid-column: line-6 / line-7;
            animation-delay: 6.5s;
          }
          &:nth-of-type(8) { // EIGHTH PRINT //
            grid-column: line-7 / line-8;
            animation-delay: 7.5s;
          }
          &:nth-of-type(9) { // NINETH PRINT //
            grid-column: line-8 / line-9;
            animation-delay: 8.5s;
          }
          &:nth-of-type(10) { // TENTH PRINT //
            grid-column: line-9 / line-10;
            animation-delay: 9.5s;
          }
        }

        // ANIMATIONS KEYFRAMES //
        // IMAGE STARTS INVISIBLE, APPEARS ON SCREEN, BECOMES INVISIBLE AGAIN //
        @keyframes fadeInOut {
          0% { opacity: 0; }
          50% { opacity: 1; }
          100% { opacity: 0; }
        }
      }

      // 'HOW IT WORKS' SECTION ON ABOUT US PAGE //
      &:nth-of-type(3) {
        display: grid;
        grid-template-columns: [line-0]15vw [line-1]45vw [line-2]40vw [line-3];
        grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3];

        img {
          &:nth-of-type(1) { // IMAGE NOT VISIBLE //
            display: none;
          }

          &:nth-of-type(2) { // IMAGE NOT VISIBLE //
            display: none;
          }

          // IMAGE OF DOG //
          &:nth-of-type(3) {
            grid-column: line-2 / line-3;
            grid-row: row-0 / row-3;
            width: 35vw;
            height: 45vh;
            object-fit: cover;
            border: 0.5vw solid #EB7859;
            align-self: center;
            border-radius: 1vh;
            border-right: none;
            justify-self: end;
            padding: 0;
          }
        }

        h2 {
          grid-column: line-1 / line-2;
          grid-row: row-0 / row-1;
          text-align: center;
          place-self: center;
          font-size: 90px;
          margin: 0;
          padding: 0vh 0vw;
        }

        p {
          grid-column: line-1 / line-2;
          padding: 1.5vh 0vw;

          &:nth-of-type(1) {
            grid-row: row-1 / row-2;
            font-size: 20px;
            text-align: center;
          }

          &:nth-of-type(2) {
            grid-row: row-2 / row-3;
            font-size: 20px;
            text-align: center;
          }
        }
      }

      // ANIMATION IMPLEMENTED ON ABOUT US PAGE //
      // ACTS LIKE A DOG'S PRINTS APPEARING ACROSS THE SCREEN //
      &:nth-of-type(4) {
        display: grid;
        // EACH IMAGE ALLOCATED ITS OWN COLUMN IN CSS GRID //
        grid-template-columns: [line-0]10vw [line-1]10vw [line-2]10vw [line-3]10vw [line-4]10vw [line-5]10vw [line-6]10vw [line-7]10vw [line-8]10vw [line-9]10vw [line-10];
        grid-template-rows: [row-0]25vh [row-1];

        // IMAGES OF PAW PRINTS //
        img {
          transform: rotate(270deg);
          width: 8vw;
          height: auto;
          grid-row: row-0 / row-1;
          align-self: center;
          animation: fadeInOut 5s linear both; // RELEVANT ANIMATION //
          animation-iteration-count: infinite; // ANIMATION OCCURS CONTINOUSLY //

          // DIFFERENT ANIMATION DELAYS TO ENHANCE EFFECT //
          &:nth-of-type(1) { // FIRST ANIMATION //
            grid-column: line-0 / line-1;
            animation-delay: 9.5s;
          }
          &:nth-of-type(2) { // SECOND ANIMATION //
            grid-column: line-1 / line-2;
            animation-delay: 8.5s;
          }
          &:nth-of-type(3) { // THIRD ANIMATION //
            grid-column: line-2 / line-3;
            animation-delay: 7.5s;
          }
          &:nth-of-type(4) { // FOURTH ANIMATION //
            grid-column: line-3 / line-4;
            animation-delay: 6.5s;
          }
          &:nth-of-type(5) { // FIFTH ANIMATION //
            grid-column: line-4 / line-5;
            animation-delay: 5.5s;
          }
          &:nth-of-type(6) { // SIXTH ANIMATION //
            grid-column: line-5 / line-6;
            animation-delay: 4.5s;
          }
          &:nth-of-type(7) { // SEVENTH ANIMATION //
            grid-column: line-6 / line-7;
            animation-delay: 3.5s;
          }
          &:nth-of-type(8) { // EIGHTH ANIMATION //
            grid-column: line-7 / line-8;
            animation-delay: 2.5s;
          }
          &:nth-of-type(9) { // NINETH ANIMATION //
            grid-column: line-8 / line-9;
            animation-delay: 1.5s;
          }
          &:nth-of-type(10) { // TENTH ANIMATION //
            grid-column: line-9 / line-10;
            animation-delay: 0.5s;
          }
        }
      }

      // 'WHERE WE GO' SECTION ON ABOUT US PAGE //
      &:nth-of-type(5) {
        display: grid;
        grid-template-columns: [line-0]40vw [line-1]45vw [line-2]15vw [line-3];
        grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3];
        margin-bottom: 5vh;

        img {
          &:nth-of-type(1) { // IMAGE NOT VISIBLE //
            display: none;
          }

          &:nth-of-type(2) { // IMAGE NOT VISIBLE //
            display: none;
          }

          &:nth-of-type(3) {
            grid-column: line-0 / line-1;
            grid-row: row-0 / row-3;
            width: 35vw;
            height: 45vh;
            object-fit: cover;
            border: 0.5vw solid #EB7859;
            align-self: center;
            border-radius: 1vh;
            border-left: none;
          }
        }

        h2 {
          grid-column: line-1 / line-2;
          grid-row: row-0 / row-1;
          text-align: center;
          place-self: center;
          font-size: 90px;
          margin: 0;
          font-weight: 900;
          padding: 0vh 0vw;
        }

        p {
          grid-column: line-1 / line-2;
          padding: 1.5vh 0vw;

          &:nth-of-type(1) {
            grid-row: row-1 / row-2;
            font-size: 20px;
            text-align: center;
          }

          &:nth-of-type(2) {
            grid-row: row-2 / row-3;
            font-size: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}
