/** MOBILE VERSION OF CONTACT US PAGE **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
main.contact {
  section {
    // INTRODUCTORY SECTION OF CONTACT US PAGE //
    // HEADER AND IMAGE //
    &:nth-of-type(1) {
      display: grid;
      grid-template-columns: [line-0]15vw [line-1]70vw [line-2]15vw [line-3];
      grid-template-rows: [row-0]15vh [row-1]auto [row-2]auto [row-3];

      img { // BONE IMAGES //
        transform: rotate(90deg);
        grid-row: row-0 / row-1;
        align-self: center;
        width: 15vw;
        height: auto;

        &:nth-of-type(1) {
          grid-column: line-0 / line-1;
          justify-self: start;
        }

        &:nth-of-type(2) {
          grid-column: line-2 / line-3;
          justify-self: end;
        }
      }

      h2 {
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-1;
        align-self: center;
        font-size: 36px;
        font-weight: 900;
        margin: 0;
        text-align: center;
      }

      p {
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-2;
        text-align: center;
      }
    }

    // LOCATIONS SECTION ON CONTACT US PAGE //
    &:nth-of-type(2) {
      display: grid;
      grid-template-columns: [line-0]10vw [line-1]80vw [line-2]10vw [line-3];

      img {
        grid-column: line-1 / line-2;
        justify-self: center;

        &:nth-of-type(1) { // PAW PRINTS //
          width: 20vw;
          height: auto;
          margin: 2vh 0vw;
        }

        &:nth-of-type(2) { // BONE IMAGE //
          width: 10vw;
          height: auto;
          transform: rotate(90deg);
        }

        &:nth-of-type(3) { // BONE IMAGE //
          width: 10vw;
          height: auto;
          transform: rotate(90deg);
        }

        &:nth-of-type(4) { // PAW PRINTS //
          width: 20vw;
          height: auto;
          margin: 2vh 0vw;
        }

        &:nth-of-type(5) { // IMAGE NOT VISIBLE //
          width: 0;
          height: 0;
        }
      }

      h3 {
        grid-column: line-0 / line-3;
        text-align: center;
        font-size: 28px;
        font-weight: 900;
        margin: 0;
      }

      p {
        grid-column: line-1 / line-2;
        text-align: center;
      }
    }

    // FORM SECTION ON CONTACT US PAGE //
    &:nth-of-type(3) {
      display: grid;
      grid-template-columns: [line-0]80vw [line-1];
      grid-template-rows: [row-0]auto [row-1];
      justify-content: center;
      margin-top: 2vh;

      form {
        grid-column: line-0 / line-1;
        grid-row: row-0 / row-1;

        // TEXT ABOVE INPUT FIELDS //
        label {
          font-size: 18px;
          font-weight: bold;
          padding: 2vh 0;
        }

        // INPUT FIELDS //
        input[type=text] {
          font-size: 14px;
          width: 80vw;
          display: inline-block;
          border: 5px solid #EB7859;
          border-radius: 4px;
          box-sizing: border-box;
          padding: 2vh 1vw;
          margin: 1vh 0vw 2vh 0vw;
          color: #4A3B34;
        }

        // SUBMIT BUTTON //
        input[type=submit] {
          font-size: 20px;
          font-weight: bold;
          width: 80vw;
          background-color: #EB7859;
          color: #4A3B34;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          padding: 2vh 1vw;
          margin: 3vh 0vw;
        }
      }
    }
  }
}

/** DESKTOP VERSION OF CONTACT US PAGE **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.contact {
    section {
      // FIRST SECTION OF CONTACT US PAGE //
      // HEADING AND FIRST PARAGRAPH //
      // INTRODUCTORY //
      &:nth-of-type(1) {
        display: grid;
        grid-template-columns: [line-0]15vw [line-1]70vw [line-2]15vw [line-3];
        grid-template-rows: [row-0]auto [row-1]auto [row-2];

        img { // IMAGE NOT VISIBLE //
          display: none;
        }

        h2 {
          grid-column: line-1 / line-2;
          grid-row: row-0 / row-1;
          text-align: center;
          font-size: 100px;
          place-self: center;
        }

        p {
          grid-column: line-1 / line-2;
          grid-row: row-1 / row-2;
          text-align: center;
          font-size: 20px;
        }
      }

      // SECTION CONTAINING DIFFERENT LOCATIONS OF DOGGIE WALKS //
      &:nth-of-type(2) {
        display: grid;
        grid-template-columns: [line-0]25vw [line-1]25vw [line-2]25vw [line-3];
        grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3];
        justify-content: center;

        img {
          width: 10vw;
          height: auto;
          grid-row: row-0 / row-1;

          &:nth-of-type(1) {
            grid-column: line-0 / line-1;
            width: 10vw;
            height: auto;
          }

          &:nth-of-type(2) { // IMAGE NOT VISIBLE //
            display: none;
          }

          &:nth-of-type(3) { // IMAGE NOT VISIBLE //
            display: none;
          }

          &:nth-of-type(4) {
            grid-column: line-1 / line-2;
            width: 10vw;
            height: auto;
          }

          &:nth-of-type(5) {
            grid-column: line-2 / line-3;
            width: 10vw;
            height: auto;
          }
        }

        h3 {
          text-align: center;
          grid-row: row-1 / row-2;
          font-size: 30px;
          font-weight: bold;

          &:nth-of-type(1) {
            grid-column: line-0 / line-1;
          }

          &:nth-of-type(2) {
            grid-column: line-1 / line-2;
          }

          &:nth-of-type(3) {
            grid-column: line-2 / line-3;
          }
        }

        p {
          text-align: center;
          grid-row: row-2 / row-3;

          &:nth-of-type(1) {
            grid-column: line-0 / line-1;
          }

          &:nth-of-type(2) {
            grid-column: line-1 / line-2;
          }

          &:nth-of-type(3) {
            grid-column: line-2 / line-3;
          }
        }
      }

      // FORM SECTION OF CONTACT US PAGE //
      &:nth-of-type(3) {
        display: grid;
        grid-template-columns: [line-0]50vw [line-1];
        grid-template-rows: [row-0]auto [row-1];
        justify-content: center;
        margin-top: 5vh;

        // FORM SECTION ON CONTACT US PAGE //
        form {
          grid-column: line-0 / line-1;
          grid-row: row-0 / row-1;

          // TEXT ABOVE INPUT FIELDS //
          label {
            font-size: 20px;
            font-weight: bold;
            padding: 2vh 0;
          }

          // INPUT FIELDS TEXT //
          input[type=text] {
            font-size: 16px;
            width: 50vw;
            display: inline-block;
            border: 5px solid #EB7859;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 2vh 1vw;
            margin: 1vh 0vw 2vh 0vw;
            color: #4A3B34;
          }

          // SUBMIT BUTTON FIELD //
          input[type=submit] {
            font-size: 22px;
            font-weight: bold;
            width: 50vw;
            background-color: #EB7859;
            color: #4A3B34;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            padding: 2vh 1vw;
            margin: 3vh 0vw;
          }
        }
      }
    }
  }
}
