/** MOBILE VERSION OF FOOTER **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
footer {
  background-color: #75B79E;

  // IMAGE OF DOG WALKING ON FOOTER //
  img {
    width: 25vw;
    height: auto;
    margin-top: 3vh;
    animation: walk-mob 10s both linear infinite; // ANIMATION TO MAKE DOG WALK ALONG FOOTER //
    // ANIMATION TAKES 10 SECONDS TO MOVE FROM LEFT TO RIGHT //
    // ANIMATION OCCURS INFINITELY //
  }

  // ANIMATION KEYFRAMES //
  // MOVES FROM LEFT TO RIGHT OF SCREEN //
  @keyframes walk-mob {
    from { transform: translateX(-25vw)}
    to { transform: translateX(125vw)}
  }

  div {
    padding: 2vh 0vw;

    &:nth-of-type(2) {
      display: none;
    }

    p {
      text-align: center;
      padding: 2vh 0vw 0vh 0vw;
    }
  }
}

/** DESKTOP VERSION OF FOOTER PAGE **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  footer {
    // CSS GRID USED //
    display: grid;
    grid-template-columns: [line-0]10vw [line-1]25vw [line-2]30vw [line-3]25vw [line-4]10vw [line-5];
    grid-template-rows: [row-0]auto [row-1]auto [row-2];

    // IMAGE OF DOG FOR WALKING ALONG FOOTER //
    img {
      width: 10vw;
      grid-column: line-0 / line-5;
      grid-row: row-0 / row-1;
      margin-top: 3vh;
      animation: walk 20s both linear infinite;
    }

    // ANIMATION KEYFRAMES //
    // MOVES FROM LEFT TO RIGHT OF SCREEN //
    @keyframes walk {
      from { transform: translateX(-10vw)}
      to { transform: translateX(120vw)}
    }

    // DIFFERENT ELEMENTS OF FOOTER //
    div {

      // OPENING TIMES //
      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-1 / row-2;

        p {
          text-align: center;
        }
      }

      // NAVIGATIONAL LINKS //
      &:nth-of-type(2) {
        display: block;
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-2;

        p {
          text-align: left;
          font-weight: bold;

          a {
            text-decoration: none;
            color: #4A3B34;
          }
        }
      }

      // COPYRIGHT INFORMATION //
      &:nth-of-type(3) {
        grid-column: line-3 / line-4;
        grid-row: row-1 / row-2;
        align-self: end;

        p {
          text-align: right;

          &:nth-of-type(1) {
            padding: 0;
          }
        }
      }
    }
  }
}
