/** MOBILE VERSION OF GALLERY PAGE **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
main.gallery {
  section {
    // INTRODUCTION SECTION ON GALLERY PAGE //
    // HEADER AND FIRST PARAGRAPH //
    &:nth-of-type(1) {
      display: grid;
      grid-template-columns: [line-0]15vw [line-1]70vw [line-2]15vw [line-3];
      grid-template-rows: [row-0]15vh [row-1]auto [row-2]auto [row-3];

      img {

        &:nth-of-type(1) { // BONE IMAGE //
          grid-column: line-0 / line-1;
          justify-self: start;
          transform: rotate(90deg);
          grid-row: row-0 / row-1;
          align-self: center;
          width: 15vw;
          height: auto;
        }

        &:nth-of-type(2) { // BONE IMAGE //
          grid-column: line-2 / line-3;
          justify-self: end;
          transform: rotate(90deg);
          grid-row: row-0 / row-1;
          align-self: center;
          width: 15vw;
          height: auto;
        }

        &:nth-of-type(3) { // PAW PRINTS //
          grid-column: line-1 / line-2;
          grid-row: row-2 / row-3;
          width: 20vw;
          height: auto;
          margin: 2vh 0vw;
          justify-self: center;
        }
      }

      h2 {
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-1;
        align-self: center;
        font-size: 36px;
        font-weight: 900;
        margin: 0;
        text-align: center;
      }

      p {
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-2;
        text-align: center;
      }
    }

    // SECTION CONTAINING IMAGES IN GALLERY //
    &:nth-of-type(2) {
      font-size: 0;

      img {
        width: 100vw;
        height: 40vh;
        object-fit: cover;
        border-top: 1vh solid #EB7859;
        border-bottom: 1vh solid #EB7859;
        margin: 0;
        padding: 0;
      }
    }
  }
}

/** DESKTOP VERSION OF GALLERY PAGE **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.gallery {
    section {

      // FIRST SECTION OF GALLERY PAGE //
      // HEADING AND FIRST PARAGRAPH //
      &:nth-of-type(1) {
        display: grid;
        grid-template-columns: [line-0]15vw [line-1]45vw [line-2]40vw [line-3];
        grid-template-rows: [row-0]auto [row-1]auto [row-2];

        // NO IMAGES VISIBLE IN SECTION //
        img {
          display: none;
        }

        h2 {
          grid-column: line-1 / line-2;
          grid-row: row-0 / row-1;
          text-align: center;
          font-size: 100px;
          place-self: center;
        }

        p {
          grid-column: line-1 / line-2;
          grid-row: row-1 / row-2;
          text-align: center;
          font-size: 20px;
        }
      }

      // SECTION CONTAINING IMAGES FOR THE GALLERY //
      &:nth-of-type(2) {
        // SPECIFIC STYLE OF GRID USED FOR DESKTOP VERSION OF GALLERY PAGE //
        display: grid;
        grid-template-columns: [line-0]25vw [line-1]25vw [line-2]25vw [line-3]5vw [line-4]20vw [line-5];
        grid-template-rows: [row-0]35vh [row-1]40vh [row-2]30vh [row-3];
        margin-top: 5vh;

        // EACH IMAGE DIFFERENT SIZE //
        // IN ACCORDANCE WITH GRID COLUMNS AND ROWS //
        img {
          object-fit: cover;
          border: none;

          &:nth-of-type(1) {
            grid-column: line-0 /line-1;
            grid-row: row-0 / row-1;
            width: 25vw;
            height: 35vh;
          }

          &:nth-of-type(2) {
            grid-column: line-1 / line-4;
            grid-row: row-0 / row-1;
            width: 55vw;
            height: 35vh;
          }

          &:nth-of-type(3) {
            grid-column: line-4 / line-5;
            grid-row: row-0 / row-1;
            width: 20vw;
            height: 35vh
          }

          &:nth-of-type(4) {
            grid-column: line-0 / line-2;
            grid-row: row-1 / row-3;
            width: 50vw;
            height: 70vh;
          }

          &:nth-of-type(5) {
            grid-column: line-2 / line-3;
            grid-row: row-1 / row-2;
            width: 25vw;
            height: 40vh;
          }

          &:nth-of-type(6) {
            grid-column: line-3 / line-5;
            grid-row: row-1 / row-2;
            width: 25vw;
            height: 40vh;
          }

          &:nth-of-type(7) {
            grid-column: line-2 / line-5;
            grid-row: row-2 / row-3;
            width: 50vw;
            height: 30vh;
          }

          // IMAGES INCREASE IN SIZE BY 10% WHEN HOVERED OVER //
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
