/** MOBILE VERSION OF HEADER **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
header {
  display: grid;
  grid-template-columns: [line-0]10vw [line-1]80vw [line-2]10vw [line-3];
  grid-template-rows: [row-0]35vh [row-1];

  // ENSURE LOGO CAN BE CLICKED ON //
  // SAME POSITION OF IMG.LOGO BELOW //
  a.logo {
    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
      width: auto;
      height: 35vh;
      place-self: center
    }
  }

  img.logo {
    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
      width: auto;
      height: 35vh;
      place-self: center
    }
  }

  // HAMBURGER MENU VISIBLE ON SCREEN //
  img.menu {
    grid-column: line-2 / line-3;
    grid-row: row-0 / row-1;
    height: 10vh;
    width: auto;
  }

  // ENABLE NAVIGATION FOR MOBILE TO WORK CORRECTLY //
  nav.mobile {
    grid-column: line-0 / line-3;
    grid-row: row-0 / row-1;
    position: relative;
    display: inline-block;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      text-align: center;
      font-size: 24px;
    }
  }

  // CONTENT STYLING WHEN IMG.MENU IS PRESSED //
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #AEC6CF;
    width: 100%;
    height: 86vh;
    overflow: auto;
    border-top: 2vh solid #EB7859;
    border-bottom: 2vh solid #EB7859;
    z-index: 1;
  }

  // CLICKABLE LINKS IN NAVIGATION MENU ON MOBILE //
  .dropdown-content a {
    color: #4A3B34;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  // INCLUDE CONTACT DETAILS ON NAVIGATION MENU //
  .dropdown-content div {
    margin: 5vh 0vw 2vh 0vw;
    font-size: 16px;

    p {
      padding: 1vh;
    }
  }

  .show {
    display: block;
  }

  // NAVIGATION MENU FOR DESKTOP IS NOT VISIBLE //
  nav.desktop {
    display: none;
  }
}

/** DESKTOP VERSION OF HEADER **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  header {
    display: grid;
    grid-template-columns: [line-0]10vw [line-1]80vw [line-2]10vw [line-3];
    grid-template-rows: [row-0]20vh [row-1]5vh [row-2];

    // ENSURE LOGO IS CLICKABLE //
    // SAME SIZE AS IMG.LOGO BELOW //
    a.logo {
      &:nth-of-type(1) {
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-2;
        width: auto;
        height: 25vh;
        justify-self: start;
        align-self: center;
      }
    }

    // SAME SIZE AS A.LOGO ABOVE //
    img.logo {
      &:nth-of-type(1) {
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-2;
        width: auto;
        height: 25vh;
        justify-self: start;
        align-self: center;
      }
    }

    // HAMBURGER MENU IMAGE NOT REQUIRED - NOT VISIBLE //
    img.menu {
      display: none;
    }

    // NAVIGATION MENU FOR MOBILE NOT NEEDED - NOT VISIBLE //
    nav.mobile {
      display: none;
    }

    // NAVIGATION MENU FOR DESKTOP VISIBLE //
    // HORIZONTAL NAVIGATION BAR //
    nav.desktop {
      display: inline;
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
      justify-self: end;
      align-self: center;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: #4A3B34;
        text-align: center;
        padding: 0vh 2vw;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;

        // EACH LINK BECOMES BLACK/BOLD WHEN HOVERED OVER //
        &:hover {
          font-weight: 900;
        }
      }
    }
  }
}
