/** MOBILE VERSION OF HOME PAGE **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
main.home {
  // FIRST VIEW OF THE HOME PAGE ON MOBILE //
  // HEIGHT IS 100VH - STRETCHES FULL HEIGHT OF MOBILE DEVICE //
  section {
    &:nth-of-type(1) {
      display: grid;
      grid-template-columns: [line-0]25vw [line-1]50vw [line-2]25vw [line-3];
      grid-template-rows: [row-0]5vh [row-1]20vh [row-2]5vh [row-3]15vh [row-4];

      // IMAGE NOT VISIBLE //
      img.dog_mob {
        width: 0;
        height: 0;
      }

      // MAIN IMAGE ON THE HOME PAGE WITH CONTENT IN IT //
      img.paw {
        width: auto;
        height: 45vh;
        grid-column: line-0 / line-3;
        grid-row: row-0 / row-4;
        justify-self: center;
        transform: rotate(180deg);
        z-index: -1;
      }

      // TEXT GOES INSIDE OF IMG.PAW IMAGE //
      h2 {
        text-align: center;
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-2;
        font-size: 36px;
        font-weight: 900;
        margin: 0;
      }

      // TERMS AND CONDITIONS TEXT SITS BELOW IMAGE //
      p {
        text-align: center;
        grid-column: line-0 / line-3;
        grid-row: row-2 / row-3;
        font-size: 8px;
        margin: 0;
      }
    }

    &:nth-of-type(2) {
      // NO ANIMATIONS REQUIRED ON HOME PAGE //
      img { // IMAGE NOT VISIBLE //
        width: 0;
        height: 0;
      }
    }

    // SECTION INTRODUCING DOGGIE WALKS //
    &:nth-of-type(3) {
      display: grid;
      grid-template-columns: [line-0]10vw [line-1]80vw [line-2]10vw [line-3];

      // IMAGE VISIBLE ON MOBILE IN THIRD SECTION ON HOME PAGE //
      img.dog_mob {
        width: 100%;
        height: auto;
        grid-column: line-0 / line-3;
      }

      // IMAGE NOT VISIBLE //
      img.dog_desk {
        width: 0;
        height: 0;
      }

      // IMAGE OF DOG RUNNING - STRETCHES 100% OF WIDTH OF DEVICE //
      img.dog_run {
        width: 100%;
        height: auto;
        grid-column: line-0 / line-3;
      }

      // BONE IMAGE //
      img.bone {
        transform: rotate(90deg);
        width: 10vw;
        height: auto;
        grid-column: line-1 / line-2;
        justify-self: center;
        margin: -2vh;
        padding: 0;
      }

      // PAW PRINTS //
      img {
        &:nth-of-type(3) {
          width: 20vw;
          height: auto;
          grid-column: line-1 / line-2;
          justify-self: center;
        }

        &:nth-of-type(4) {
          width: 20vw;
          height: auto;
          grid-column: line-1 / line-2;
          justify-self: center;
          transform: scaleX(-1);
        }
      }

      h3 {
        text-align: center;
        grid-column: line-1 / line-2;
        margin-bottom: 0;
      }

      p {
        text-align: center;
        grid-column: line-1 / line-2;
        margin: 2vh 0vw;
      }
    }
  }
}

/** DESKTOP VERSION OF HOME PAGE **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.home {
    section {
      // FIRST SECTION OF HOME PAGE //
      // FITS HEIGHT OF PAGE ALONG WITH HEADER //
      // IMPORTANT INFORMATION ALL DISPLAYED AS SOON AS PAGE LOADS //
      &:nth-of-type(1) {
        display: grid;
        grid-template-columns: [line-0]55vw [line-1]45vw [line-2];
        grid-template-rows: [row-0]25vh [row-1]40vh [row-2]10vh [row-3];

        // IMAGE OF DOG VISIBLE //
        // RIGHT SIDE OF SCREEN //
        img.dog_mob {
          grid-column: line-1 / line-2;
          grid-row: row-0 / row-3;
          align-self: end;
          width: auto;
          height: 85vh;
          object-fit: cover;
        }

        // IMAGE OF PAW PRINT VISIBLE //
        // LEFT SIDE OF SCREEN //
        img.paw {
          grid-column: line-0 / line-1;
          grid-row: row-0 / row-3;
          align-self: end;
          transform: rotate(0deg);
          height: 75vh;
          width: auto;
          z-index: -1;
        }

        // HEADING SITS INTO PAW PRINT IMAGE //
        h2 {
          text-align: center;
          grid-column: line-0 / line-1;
          grid-row: row-1 / row-2;
          font-size: 60px;
          font-weight: 900;
          margin: 0;
          align-self: end;

          // TEXT GROWS WHEN HOVERED OVER //
          &:hover {
            font-size: 70px;
          }
        }

        p {
          text-align: center;
          grid-column: line-0 / line-1;
          grid-row: row-2 / row-3;
          font-size: 10px;
          margin: 0;
          align-self: start;
          font-weight: bold;
        }
      }

      // ANIMATION ON HOME PAGE //
      // GIVES IMPRESSION OF DOG WALKING ACROSS SCREEN AND LEAVING PAW PRINTS //
      &:nth-of-type(2) {
        display: grid;
        // EACH IMAGE OF PAW PRINTS ALLOCATED ITS OWN COLUMN
        grid-template-columns: [line-0]10vw [line-1]10vw [line-2]10vw [line-3]10vw [line-4]10vw [line-5]10vw [line-6]10vw [line-7]10vw [line-8]10vw [line-9]10vw [line-10];
        grid-template-rows: [row-0]25vh [row-1]; // ONE ROW REQUIRED //

        // ANIMATION IMAGES //
        img {
          transform: rotate(90deg);
          width: 8vw;
          height: auto;
          grid-row: row-0 / row-1;
          align-self: center;
          animation: fadeInOut 5s linear both; // TAKES 5 SECONDS FOR IMAGE FADES IN AND OUT//
          animation-iteration-count: infinite; // OCCURS CONTINOUSLY //

          &:nth-of-type(1) { // FIRST ANIMATION LOADS //
            grid-column: line-0 / line-1;
            animation-delay: 0.5s;
          }
          &:nth-of-type(2) { // SECOND ANIMATION LOADS //
            grid-column: line-1 / line-2;
            animation-delay: 1.5s;
          }
          &:nth-of-type(3) { // THIRD ANIMATION LOADS //
            grid-column: line-2 / line-3;
            animation-delay: 2.5s;
          }
          &:nth-of-type(4) { // FOURTH ANIMATION LOADS //
            grid-column: line-3 / line-4;
            animation-delay: 3.5s;
          }
          &:nth-of-type(5) { // FIFTH ANIMATION LOADS //
            grid-column: line-4 / line-5;
            animation-delay: 4.5s;
          }
          &:nth-of-type(6) { // SIXTH ANIMATION LOADS //
            grid-column: line-5 / line-6;
            animation-delay: 5.5s;
          }
          &:nth-of-type(7) { // SEVENTH ANIMATION LOADS //
            grid-column: line-6 / line-7;
            animation-delay: 6.5s;
          }
          &:nth-of-type(8) { // EIGHTH ANIMATION LOADS //
            grid-column: line-7 / line-8;
            animation-delay: 7.5s;
          }
          &:nth-of-type(9) { // NINETH ANIMATION LOADS //
            grid-column: line-8 / line-9;
            animation-delay: 8.5s;
          }
          &:nth-of-type(10) { // TENTH ANIMATION LOADS //
            grid-column: line-9 / line-10;
            animation-delay: 9.5s;
          }
        }

        // ANIMATION FADES IN AND OUT OF SCREEN //
        // STARTS INVISIBLE, BECOMES FULLY VISIBLE AND THEN TURNS INVISIBLE AGAIN //
        @keyframes fadeInOut {
          0% { opacity: 0; }
          50% { opacity: 1; }
          100% { opacity: 0; }
        }
      }

      // MAIN BODY OF HOME PAGE //
      // CONTENT //
      &:nth-of-type(3) {
        display: grid;
        grid-template-columns: [line-0]40vw [line-1]50vw [line-2]10vw;
        grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6]auto [row-7]auto [row-8]auto [row-9]auto [row-10]auto [row-11];
        margin-bottom: 5vh;

        // MAIN IMAGE FOR DESKTOP //
        img.dog_desk {
          grid-column: line-0 / line-1;
          grid-row: row-0 / row-11;
          width: 100%;
          height: auto;
        }

        // IMAGE NOT VISIBLE //
        img.dog_mob {
          width: 0;
          height: 0;
        }

        // IMAGE NOT VISIBLE //
        img.dog_run {
          width: 0;
          height: 0;
        }

        // HEADING FOR HOME PAGE, THIRD SECTION //
        h3 {
          grid-column: line-1 / line-2;
          grid-row: row-0 / row-1;
          font-weight: 900;
          font-size: 60px;
          text-align: center;
          margin: 0;
        }

        // VARIOUS CONTENT //
        p {
          grid-column: line-1 / line-2;
          text-align: center;
          padding: 2vh 0vw;

          &:nth-of-type(1) {
            grid-row: row-1 / row-2;
            font-size: 24px;
          }

          &:nth-of-type(2) {
            grid-row: row-2 / row-3;
            font-size: 20px;
          }

          &:nth-of-type(3) {
            grid-row: row-3 / row-4;
            font-size: 20px;
          }

          &:nth-of-type(4) {
            grid-row: row-5 / row-6;
            font-size: 20px;
          }

          &:nth-of-type(5) {
            grid-row: row-6 / row-7;
            font-size: 20px;
          }

          &:nth-of-type(6) {
            grid-row: row-7 / row-8;
            font-size: 20px;
          }

          &:nth-of-type(7) {
            grid-row: row-8 / row-9;
            font-size: 20px;
          }

          &:nth-of-type(8) {
            grid-row: row-10 / row-11;
            font-size: 20px;
          }
        }

        // IMAGES ON HOME PAGE WITHIN THIRD SECTION //
        img {
          grid-column: line-1 / line-2;

          &:nth-of-type(3) {
            grid-row: row-4 / row-5;
            width: 5vw;
            height: auto;
            justify-self: center;
          }

          &:nth-of-type(4) {
            grid-row: row-9 / row-10;
            width: 5vw;
            height: auto;
            justify-self: center;
            transform: scaleX(-1);
          }

          &:nth-of-type(5) { // IMAGE NOT VISIBLE //
            display: none;
          }

          &:nth-of-type(6) { // IMAGE NOT VISIBLE //
            display: none;
          }

          &:nth-of-type(7) { // IMAGE NOT VISIBLE //
            display: none;
          }
        }
      }
    }
  }
}
