/** MOBILE VERSION OF SERVICES PAGE **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
main.services {
  // MAIN SECTION OF SERVICES PAGE //
  // CONTAINS THREE DIFFERENT SERVICES ON OFFER //
  section {
    display: grid;
    grid-template-columns: [line-0]10vw [line-1]80vw [line-2]10vw [line-3];
    grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]32vh [row-4]auto //SERVICES 1
                        [row-5]auto [row-6]auto [row-7]auto [row-8]32vh [row-9]auto //SERVICES 2
                        [row-10]auto [row-11]auto [row-12]auto [row-13]32vh [row-14]auto [row-15]; //SERVICES 3
    margin-bottom: 2vh;

    img {
      &:nth-of-type(1) { // PAW PRINTS //
        grid-column: line-0 / line-3;
        grid-row: row-0 / row-1;
        width: 15vw;
        height: auto;
        justify-self: center;
        padding: 2vh 0vw;
      }

      &:nth-of-type(2) { // HALF PAW PRINTS TO ALLOW DESIGN TO WORK //
        grid-column: line-0 / line-3;
        grid-row: row-3 / row-4;
        width: auto;
        height: 30vh;
        justify-self: center;
        align-self: center;
      }

      &:nth-of-type(3) { // PAW PRINTS //
        grid-column: line-0 / line-3;
        grid-row: row-5 / row-6;
        width: 15vw;
        height: auto;
        justify-self: center;
        padding: 2vh 0vw;
      }

      &:nth-of-type(4) { // HALF PAW PRINTS TO ALLOW DESIGN TO WORK //
        grid-column: line-0 / line-3;
        grid-row: row-8 / row-9;
        width: auto;
        height: 30vh;
        justify-self: center;
        align-self: center;
      }

      &:nth-of-type(5) { // PAW PRINTS //
        grid-column: line-0 / line-3;
        grid-row: row-10 / row-11;
        width: 15vw;
        height: auto;
        justify-self: center;
        padding: 2vh 0vw;
      }

      &:nth-of-type(6) { // HALF PAW PRINTS TO ALLOW DESIGN TO WORK //
        grid-column: line-0 / line-3;
        grid-row: row-13 / row-14;
        width: auto;
        height: 30vh;
        justify-self: center;
        align-self: center;
      }

      &:nth-of-type(7) {
        width: 0;
        height: 0;
      }
    }

    h3 {
      grid-column: line-0 / line-3;
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      margin: 0;

      &:nth-of-type(1) {
        grid-row: row-1 / row-2;
      }

      &:nth-of-type(2) {
        grid-row: row-6 / row-7;
      }

      &:nth-of-type(3) {
        grid-row: row-11 / row-12;
      }
    }

    // HEADING FITS IN CENTRE OF IMAGES OF HALF PAW PRINTS //
    h4 {
      grid-column: line-0 / line-3;
      align-self: center;
      text-align: center;
      font-size: 36px;
      margin: 0;
      font-weight: bold;

      &:nth-of-type(1) {
        grid-row: row-3 / row-4;
      }

      &:nth-of-type(2) {
        grid-row: row-8 / row-9;
      }

      &:nth-of-type(3) {
        grid-row: row-13 / row-14;
      }
    }

    p {
      grid-column: line-1 / line-2;
      text-align: center;

      &:nth-of-type(1) {
        grid-row: row-2 / row-3; // DESCRIBING SERVICE //
      }

      &:nth-of-type(2) {
        grid-row: row-4 / row-5; // TERMS OF THE SERVICE //
        font-size: 12px;
      }

      &:nth-of-type(3) {
        grid-row: row-7 / row-8; // DESCRIBING SERVICE //
      }

      &:nth-of-type(4) {
        grid-row: row-9 / row-10; // TERMS OF THE SERVICE //
        font-size: 12px;
      }

      &:nth-of-type(5) {
        grid-row: row-12 / row-13; // DESCRIBING SERVICE //
      }

      &:nth-of-type(6) {
        grid-row: row-14 / row-15; // TERMS OF THE SERVICE //
        font-size: 12px;
      }
    }

    // INTRODUCTION SECTION ON SERVICES PAGE //
    // HEADING AND FIRST PARAGRAPH //
    &:nth-of-type(1) {
      display: grid;
      grid-template-columns: [line-0]15vw [line-1]70vw [line-2]15vw [line-3];
      grid-template-rows: [row-0]15vh [row-1]auto [row-2]auto [row-3];

      // BONE IMAGES //
      img {
        transform: rotate(90deg);
        grid-row: row-0 / row-1;
        align-self: center;
        width: 15vw;
        height: auto;

        &:nth-of-type(1) {
          grid-column: line-0 / line-1;
          justify-self: start;
        }

        &:nth-of-type(2) {
          grid-column: line-2 / line-3;
          justify-self: end;
        }
      }

      h2 {
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-1;
        align-self: center;
        font-size: 36px;
        font-weight: 900;
        margin: 0;
        text-align: center;
      }

      p {
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-2;
        text-align: center;
      }
    }
  }
}

/** DESKTOP VERSION OF SERVICES PAGE **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.services {
    section {
      // FIRST SECTION OF SERVICES PAGE //
      // HEADING AND FIRST PARAGRAPH //
      &:nth-of-type(1) {
        display: grid;
        grid-template-columns: [line-0]40vw [line-1]45vw [line-2]15vw [line-3];
        grid-template-rows: [row-0]auto [row-1]auto [row-2];

        // NO IMAGES VISIBLE WITHIN SECTION //
        img {
          &:nth-of-type(1) {
            display: none;
          }

          &:nth-of-type(2) {
            display: none;
          }
        }

        // MAIN TITLE //
        h2 {
          grid-column: line-1 / line-2;
          grid-row: row-0 / row-1;
          text-align: center;
          place-self: center;
          font-size: 100px;
          margin: 0;
        }

        p {
          grid-column: line-1 / line-2;
          padding: 1.5vh 0vw;

          &:nth-of-type(1) {
            grid-row: row-1 / row-2;
            font-size: 20px;
            text-align: center;
          }
        }
      }

      // SECOND SECTION ON SERVICES PAGE FOR DESKTOP VERSION //
      &:nth-of-type(2) {
        display: grid;
        // LINE-0 / LINE-1 LEFT VACANT FOR IMAGE OF DOG //
        // ALL TEXT CONTENT BETWEEN LINE-1 AND LINE-4;
        grid-template-columns: [line-0]45vw [line-1]20vw [line-2]25vw [line-3]10vw [line-4];
        grid-template-rows: [row-0]auto [row-1]auto [row-2]auto  //SERVICES 1
                            [row-3]auto [row-4]auto [row-5]auto  //SERVICES 2
                            [row-6]auto [row-7]auto [row-8]auto [row-9]; //SERVICES 3
        margin-bottom: 0;

        p {
          text-align: center;
          margin: 0;

          &:nth-of-type(1) { // INFORMATION ABOUT SERVICE //
            font-size: 20px;
            grid-column: line-1 / line-2;
            grid-row: row-1 / row-2;
            align-self: center;
          }

          &:nth-of-type(2) { // TERMS OF SERVICE //
            font-size: 12px;
            grid-column: line-2 / line-3;
            grid-row: row-2 / row-3;
          }

          &:nth-of-type(3) { // INFORMATION ABOUT SERVICE //
            font-size: 20px;
            grid-column: line-1 / line-2;
            grid-row: row-4 / row-5;
            align-self: center;
          }

          &:nth-of-type(4) { // TERMS OF SERVICE //
            font-size: 12px;
            grid-column: line-2 / line-3;
            grid-row: row-5 / row-6;
          }

          &:nth-of-type(5) { // INFORMATION ABOUT SERVICE //
            font-size: 20px;
            grid-column: line-1 / line-2;
            grid-row: row-7 / row-8;
            align-self: center;
          }

          &:nth-of-type(6) { // TERMS OF SERVICE //
            font-size: 12px;
            grid-column: line-2 / line-3;
            grid-row: row-8 / row-9;
          }
        }

        img {
          align-self: center;

          &:nth-of-type(1) { // IMAGE NOT VISIBLE //
            display: none;
          }

          &:nth-of-type(2) { // IMAGE OF HALF PAW PRINT //
            grid-column: line-2 / line-3;
            grid-row: row-0 / row-2;
          }

          &:nth-of-type(3) { // IMAGE NOT VISIBLE //
            display: none;
          }

          &:nth-of-type(4) { // IMAGE OF HALF PAW PRINT //
            grid-column: line-2 / line-3;
            grid-row: row-3 / row-5;
          }

          &:nth-of-type(5) { // IMAGE NOT VISIBLE //
            display: none;
          }

          &:nth-of-type(6) { // IMAGE OF HALF PAW PRINT //
            grid-column: line-2 / line-3;
            grid-row: row-6 / row-8;
          }

          // IMAGE OF MAIN DOG ON SERVICES PAGE //
          &:nth-of-type(7) {
            grid-column: line-0 / line-1;
            grid-row: row-0 / row-9;
            width: 40vw;
            height: auto;
            align-self: end;
          }
        }

        // SUBHEADINGS OF DIFFERENT SERVICES //
        h3 {
          text-align: center;
          font-size: 30px;
          font-weight: bold;
          margin: 0;
          grid-column: line-1 / line-2;
          align-self: end;

          &:nth-of-type(1) {
            grid-row: row-0 / row-1;
          }

          &:nth-of-type(2) {
            grid-row: row-3 / row-4;
          }

          &:nth-of-type(3) {
            grid-row: row-6 / row-7;
          }
        }

        // HEADINGS WHICH SIT INSIDE OF HALF PAW PRINT IMAGES //
        h4 {
          text-align: center;
          font-weight: bold;
          grid-column: line-2 / line-3;
          place-self: center;

          &:nth-of-type(1) {
            grid-row: row-0 / row-2;
          }

          &:nth-of-type(2) {
            grid-row: row-3 / row-5;
          }

          &:nth-of-type(3) {
            grid-row: row-6 / row-8;
          }

          &:hover {
            font-size: 40px;
          }
        }
      }
    }
  }
}
