/** MOBILE VERSION OF MEET THE TEAM PAGE **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
main.team {
  section {

    // INTRODUCTION SECTION ON MEET THE TEAM PAGE //
    // HEADING AND FIRST PARAGRAPH //
    &:nth-of-type(1) {
      display: grid;
      grid-template-columns: [line-0]15vw [line-1]70vw [line-2]15vw [line-3];
      grid-template-rows: [row-0]20vh [row-1]auto [row-2]auto [row-3];

      // BONE IMAGES //
      img {
        transform: rotate(90deg);
        grid-row: row-0 / row-1;
        align-self: center;
        width: 15vw;
        height: auto;

        &:nth-of-type(1) {
          grid-column: line-0 / line-1;
          justify-self: start;
        }

        &:nth-of-type(2) {
          grid-column: line-2 / line-3;
          justify-self: end;
        }
      }

      h2 {
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-1;
        align-self: center;
        font-size: 36px;
        font-weight: 900;
        margin: 0;
        text-align: center;
        padding: 0vh 10vw;
      }

      p {
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-2;
        text-align: center;
        margin-bottom: 5vh;
      }
    }

    // SECTION FOR LAYOUT OF DIFFERENT TEAM MEMBERS //
    &:nth-of-type(2) {
      display: grid;
      grid-template-columns: [line-0]100vw [line-1];

      // IMAGES OF EACH INDIVIDUAL TEAM MEMBER //
      // SHAPE OF PAW PRINT //
      img {
        width: 100%;
        height: auto;
        justify-self: center;
        grid-column: line-0 / line-1;

        // BONE IMAGE SEPARATES DIFFERENT TEAM MEMBERS //
        &:nth-of-type(2) {
          transform: rotate(90deg);
          width: 10vw;
          height: auto;
        }

        &:nth-of-type(4) {
          transform: rotate(90deg);
          width: 10vw;
          height: auto;
        }

        &:nth-of-type(6) {
          transform: rotate(90deg);
          width: 10vw;
          height: auto;
        }
      }

      // HEADING FITS UNDERNEATH EACH TEAM MEMBER IMAGE //
      h3 {
        grid-column: line-0 / line-1;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin: 0;
      }

      p {
        grid-column: line-0 / line-1;
        text-align: center;

        &:nth-of-type(4) {
          margin-bottom: 3vh;
        }
      }
    }
  }
}

/** DESKTOP VERSION OF MEET THE TEAM PAGE **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.team {
    section {
      // FIRST SECTION OF MEET THE TEAM PAGE //
      // GIVES CLEAR INTRODUCTION/INSTRUCTIONS //
      // HEADING AND FIRST PARAGRAPH //
      &:nth-of-type(1) {
        display: grid;
        grid-template-columns: [line-0]15vw [line-1]70vw [line-2]15vw [line-3];
        grid-template-rows: [row-0]auto [row-1]auto [row-2];

        // NO IMAGES VISIBLE ON MEET THE TEAM PAGE //
        img {
          &:nth-of-type(1) {
            display: none;
          }

          &:nth-of-type(2) {
            display: none;
          }
        }

        h2 {
          grid-column: line-1 / line-2;
          grid-row: row-0 / row-1;
          text-align: center;
          font-size: 100px;
          place-self: center;
          padding: 0vh 0vw;
        }

        p {
          grid-column: line-1 / line-2;
          grid-row: row-1 / row-2;
          text-align: center;
          font-size: 20px;
        }
      }

      // SECOND SECTION TO PORTRAY TEAM MEMBERS //
      &:nth-of-type(2) {
        display: grid;
        grid-template-columns: [line-0]40vw [line-1]40vw [line-2]; // 2 TEAM MEMBERS AT ALL TIMES //
        grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6];
        justify-content: center; // FITS CSS GRID IN CENTRE OF PAGE //
        margin-bottom: 5vh;

        img {
          width: 35vw;
          height: auto;
          margin-top: 10vh;

          &:nth-of-type(1) { // LORI HANSON IMAGE //
            grid-column: line-0 / line-1;
            grid-row: row-0 / row-1;
          }

          &:nth-of-type(2) { // IRRELEVANT IMAGE NOT NECESSARY - THEREFORE INVISIBLE //
            display: none;
          }

          &:nth-of-type(3) { // GARY SIMPSON IMAGE //
            grid-column: line-1 / line-2;
            grid-row: row-0 / row-1;
          }

          &:nth-of-type(4) { // IRRELEVANT IMAGE NOT NECESSARY - THEREFORE INVISIBLE //
            display: none;
          }

          &:nth-of-type(5) { // REBECCA HARRIS IMAGE //
            grid-column: line-0 / line-1;
            grid-row: row-3 / row-4;
          }

          &:nth-of-type(6) { // IRRELEVANT IMAGE NOT NECESSARY - THEREFORE INVISIBLE //
            display: none;
          }

          &:nth-of-type(7) { // JOANNA DAVIES IMAGE //
            grid-column: line-1 / line-2;
            grid-row: row-3 / line-4;
          }
        }

        // HEADINGS SIT JUST BELOW EACH IMAGE OF TEAM MEMBERS //
        h3 {
          text-align: center;
          font-size: 30px;
          margin: 0;
          font-weight: bold;

          &:nth-of-type(1) {
            grid-column: line-0 / line-1;
            grid-row: row-1 / row-2;
          }

          &:nth-of-type(2) {
            grid-column: line-1 / line-2;
            grid-row: row-1 / row-2;
          }

          &:nth-of-type(3) {
            grid-column: line-0 / line-1;
            grid-row: row-4 / row-5;
          }

          &:nth-of-type(4) {
            grid-column: line-1 / line-2;
            grid-row: row-4 / row-5;
          }
        }

        // TEXT DESCRIBING PERSON'S JOB ROLE //
        p {
          text-align: center;
          font-size: 16px;
          margin: 0;

          &:nth-of-type(1) {
            grid-column: line-0 / line-1;
            grid-row: row-2 / row-3;
          }

          &:nth-of-type(2) {
            grid-column: line-1 / line-2;
            grid-row: row-2 / row-3;
          }

          &:nth-of-type(3) {
            grid-column: line-0 / line-1;
            grid-row: row-5 / row-6;
          }

          &:nth-of-type(4) {
            grid-column: line-1 / line-2;
            grid-row: row-5 / row-6;
          }
        }
      }
    }
  }
}
