
// INVOLVEMENT OF SASS //
@import "header";
@import "home";
@import "about";
@import "team";
@import "services";
@import "gallery";
@import "contact";
@import "footer";

html {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden; // PREVENTS LEFT/RIGHT SCROLLING //
  margin: 0;
  padding: 0;
  background-color: #AEC6CF;
  color: #4A3B34;
}

p {
  margin: 0;
}

a {
  color: #4A3B34;
  text-decoration: none;
}
