/** MOBILE VERSION OF HEADER **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
header {
  display: grid;
  grid-template-columns: [line-0] 10vw [line-1] 80vw [line-2] 10vw [line-3];
  grid-template-rows: [row-0] 35vh [row-1];
}
header a.logo:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  width: auto;
  height: 35vh;
  place-self: center;
}
header img.logo:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  width: auto;
  height: 35vh;
  place-self: center;
}
header img.menu {
  grid-column: line-2/line-3;
  grid-row: row-0/row-1;
  height: 10vh;
  width: auto;
}
header nav.mobile {
  grid-column: line-0/line-3;
  grid-row: row-0/row-1;
  position: relative;
  display: inline-block;
}
header nav.mobile ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
}
header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #AEC6CF;
  width: 100%;
  height: 86vh;
  overflow: auto;
  border-top: 2vh solid #EB7859;
  border-bottom: 2vh solid #EB7859;
  z-index: 1;
}
header .dropdown-content a {
  color: #4A3B34;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .dropdown-content div {
  margin: 5vh 0vw 2vh 0vw;
  font-size: 16px;
}
header .dropdown-content div p {
  padding: 1vh;
}
header .show {
  display: block;
}
header nav.desktop {
  display: none;
}

/** DESKTOP VERSION OF HEADER **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  header {
    display: grid;
    grid-template-columns: [line-0] 10vw [line-1] 80vw [line-2] 10vw [line-3];
    grid-template-rows: [row-0] 20vh [row-1] 5vh [row-2];
  }
  header a.logo:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-0/row-2;
    width: auto;
    height: 25vh;
    justify-self: start;
    align-self: center;
  }
  header img.logo:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-0/row-2;
    width: auto;
    height: 25vh;
    justify-self: start;
    align-self: center;
  }
  header img.menu {
    display: none;
  }
  header nav.mobile {
    display: none;
  }
  header nav.desktop {
    display: inline;
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    justify-self: end;
    align-self: center;
  }
  header nav.desktop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  header nav.desktop li {
    float: left;
  }
  header nav.desktop li a {
    display: block;
    color: #4A3B34;
    text-align: center;
    padding: 0vh 2vw;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  header nav.desktop li a:hover {
    font-weight: 900;
  }
}
/** MOBILE VERSION OF HOME PAGE **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
main.home section:nth-of-type(1) {
  display: grid;
  grid-template-columns: [line-0] 25vw [line-1] 50vw [line-2] 25vw [line-3];
  grid-template-rows: [row-0] 5vh [row-1] 20vh [row-2] 5vh [row-3] 15vh [row-4];
}
main.home section:nth-of-type(1) img.dog_mob {
  width: 0;
  height: 0;
}
main.home section:nth-of-type(1) img.paw {
  width: auto;
  height: 45vh;
  grid-column: line-0/line-3;
  grid-row: row-0/row-4;
  justify-self: center;
  transform: rotate(180deg);
  z-index: -1;
}
main.home section:nth-of-type(1) h2 {
  text-align: center;
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  font-size: 36px;
  font-weight: 900;
  margin: 0;
}
main.home section:nth-of-type(1) p {
  text-align: center;
  grid-column: line-0/line-3;
  grid-row: row-2/row-3;
  font-size: 8px;
  margin: 0;
}
main.home section:nth-of-type(2) img {
  width: 0;
  height: 0;
}
main.home section:nth-of-type(3) {
  display: grid;
  grid-template-columns: [line-0] 10vw [line-1] 80vw [line-2] 10vw [line-3];
}
main.home section:nth-of-type(3) img.dog_mob {
  width: 100%;
  height: auto;
  grid-column: line-0/line-3;
}
main.home section:nth-of-type(3) img.dog_desk {
  width: 0;
  height: 0;
}
main.home section:nth-of-type(3) img.dog_run {
  width: 100%;
  height: auto;
  grid-column: line-0/line-3;
}
main.home section:nth-of-type(3) img.bone {
  transform: rotate(90deg);
  width: 10vw;
  height: auto;
  grid-column: line-1/line-2;
  justify-self: center;
  margin: -2vh;
  padding: 0;
}
main.home section:nth-of-type(3) img:nth-of-type(3) {
  width: 20vw;
  height: auto;
  grid-column: line-1/line-2;
  justify-self: center;
}
main.home section:nth-of-type(3) img:nth-of-type(4) {
  width: 20vw;
  height: auto;
  grid-column: line-1/line-2;
  justify-self: center;
  transform: scaleX(-1);
}
main.home section:nth-of-type(3) h3 {
  text-align: center;
  grid-column: line-1/line-2;
  margin-bottom: 0;
}
main.home section:nth-of-type(3) p {
  text-align: center;
  grid-column: line-1/line-2;
  margin: 2vh 0vw;
}

/** DESKTOP VERSION OF HOME PAGE **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.home section:nth-of-type(1) {
    display: grid;
    grid-template-columns: [line-0] 55vw [line-1] 45vw [line-2];
    grid-template-rows: [row-0] 25vh [row-1] 40vh [row-2] 10vh [row-3];
  }
  main.home section:nth-of-type(1) img.dog_mob {
    grid-column: line-1/line-2;
    grid-row: row-0/row-3;
    align-self: end;
    width: auto;
    height: 85vh;
    object-fit: cover;
  }
  main.home section:nth-of-type(1) img.paw {
    grid-column: line-0/line-1;
    grid-row: row-0/row-3;
    align-self: end;
    transform: rotate(0deg);
    height: 75vh;
    width: auto;
    z-index: -1;
  }
  main.home section:nth-of-type(1) h2 {
    text-align: center;
    grid-column: line-0/line-1;
    grid-row: row-1/row-2;
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    align-self: end;
  }
  main.home section:nth-of-type(1) h2:hover {
    font-size: 70px;
  }
  main.home section:nth-of-type(1) p {
    text-align: center;
    grid-column: line-0/line-1;
    grid-row: row-2/row-3;
    font-size: 10px;
    margin: 0;
    align-self: start;
    font-weight: bold;
  }
  main.home section:nth-of-type(2) {
    display: grid;
    grid-template-columns: [line-0] 10vw [line-1] 10vw [line-2] 10vw [line-3] 10vw [line-4] 10vw [line-5] 10vw [line-6] 10vw [line-7] 10vw [line-8] 10vw [line-9] 10vw [line-10];
    grid-template-rows: [row-0] 25vh [row-1];
  }
  main.home section:nth-of-type(2) img {
    transform: rotate(90deg);
    width: 8vw;
    height: auto;
    grid-row: row-0/row-1;
    align-self: center;
    animation: fadeInOut 5s linear both;
    animation-iteration-count: infinite;
  }
  main.home section:nth-of-type(2) img:nth-of-type(1) {
    grid-column: line-0/line-1;
    animation-delay: 0.5s;
  }
  main.home section:nth-of-type(2) img:nth-of-type(2) {
    grid-column: line-1/line-2;
    animation-delay: 1.5s;
  }
  main.home section:nth-of-type(2) img:nth-of-type(3) {
    grid-column: line-2/line-3;
    animation-delay: 2.5s;
  }
  main.home section:nth-of-type(2) img:nth-of-type(4) {
    grid-column: line-3/line-4;
    animation-delay: 3.5s;
  }
  main.home section:nth-of-type(2) img:nth-of-type(5) {
    grid-column: line-4/line-5;
    animation-delay: 4.5s;
  }
  main.home section:nth-of-type(2) img:nth-of-type(6) {
    grid-column: line-5/line-6;
    animation-delay: 5.5s;
  }
  main.home section:nth-of-type(2) img:nth-of-type(7) {
    grid-column: line-6/line-7;
    animation-delay: 6.5s;
  }
  main.home section:nth-of-type(2) img:nth-of-type(8) {
    grid-column: line-7/line-8;
    animation-delay: 7.5s;
  }
  main.home section:nth-of-type(2) img:nth-of-type(9) {
    grid-column: line-8/line-9;
    animation-delay: 8.5s;
  }
  main.home section:nth-of-type(2) img:nth-of-type(10) {
    grid-column: line-9/line-10;
    animation-delay: 9.5s;
  }
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  main.home section:nth-of-type(3) {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 50vw [line-2] 10vw;
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8] auto [row-9] auto [row-10] auto [row-11];
    margin-bottom: 5vh;
  }
  main.home section:nth-of-type(3) img.dog_desk {
    grid-column: line-0/line-1;
    grid-row: row-0/row-11;
    width: 100%;
    height: auto;
  }
  main.home section:nth-of-type(3) img.dog_mob {
    width: 0;
    height: 0;
  }
  main.home section:nth-of-type(3) img.dog_run {
    width: 0;
    height: 0;
  }
  main.home section:nth-of-type(3) h3 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    margin: 0;
  }
  main.home section:nth-of-type(3) p {
    grid-column: line-1/line-2;
    text-align: center;
    padding: 2vh 0vw;
  }
  main.home section:nth-of-type(3) p:nth-of-type(1) {
    grid-row: row-1/row-2;
    font-size: 24px;
  }
  main.home section:nth-of-type(3) p:nth-of-type(2) {
    grid-row: row-2/row-3;
    font-size: 20px;
  }
  main.home section:nth-of-type(3) p:nth-of-type(3) {
    grid-row: row-3/row-4;
    font-size: 20px;
  }
  main.home section:nth-of-type(3) p:nth-of-type(4) {
    grid-row: row-5/row-6;
    font-size: 20px;
  }
  main.home section:nth-of-type(3) p:nth-of-type(5) {
    grid-row: row-6/row-7;
    font-size: 20px;
  }
  main.home section:nth-of-type(3) p:nth-of-type(6) {
    grid-row: row-7/row-8;
    font-size: 20px;
  }
  main.home section:nth-of-type(3) p:nth-of-type(7) {
    grid-row: row-8/row-9;
    font-size: 20px;
  }
  main.home section:nth-of-type(3) p:nth-of-type(8) {
    grid-row: row-10/row-11;
    font-size: 20px;
  }
  main.home section:nth-of-type(3) img {
    grid-column: line-1/line-2;
  }
  main.home section:nth-of-type(3) img:nth-of-type(3) {
    grid-row: row-4/row-5;
    width: 5vw;
    height: auto;
    justify-self: center;
  }
  main.home section:nth-of-type(3) img:nth-of-type(4) {
    grid-row: row-9/row-10;
    width: 5vw;
    height: auto;
    justify-self: center;
    transform: scaleX(-1);
  }
  main.home section:nth-of-type(3) img:nth-of-type(5) {
    display: none;
  }
  main.home section:nth-of-type(3) img:nth-of-type(6) {
    display: none;
  }
  main.home section:nth-of-type(3) img:nth-of-type(7) {
    display: none;
  }
}
/** MOBILE VERSION OF ABOUT US PAGE **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
main.about section:nth-of-type(1) {
  display: grid;
  grid-template-columns: [line-0] 15vw [line-1] 70vw [line-2] 15vw [line-3];
  grid-template-rows: [row-0] 15vh [row-1] auto [row-2] auto [row-3] auto [row-4];
}
main.about section:nth-of-type(1) img:nth-of-type(1) {
  grid-column: line-0/line-1;
  grid-row: row-0/row-1;
  transform: rotate(90deg);
  width: 15vw;
  height: auto;
  justify-self: end;
  align-self: center;
}
main.about section:nth-of-type(1) img:nth-of-type(2) {
  grid-column: line-2/line-3;
  grid-row: row-0/row-1;
  transform: rotate(90deg);
  width: 15vw;
  height: auto;
  justify-self: start;
  align-self: center;
}
main.about section:nth-of-type(1) img:nth-of-type(3) {
  grid-column: line-0/line-3;
  grid-row: row-2/row-3;
  width: 100%;
  height: auto;
}
main.about section:nth-of-type(1) img:nth-of-type(4) {
  width: 0;
  height: 0;
}
main.about section:nth-of-type(1) h2 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  align-self: center;
  font-size: 36px;
  font-weight: 900;
  margin: 0;
  text-align: center;
}
main.about section:nth-of-type(1) p {
  text-align: center;
}
main.about section:nth-of-type(1) p:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
}
main.about section:nth-of-type(1) p:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
}
main.about section:nth-of-type(2) img {
  width: 0;
  height: 0;
}
main.about section:nth-of-type(3) {
  display: grid;
  grid-template-columns: [line-0] 15vw [line-1] 70vw [line-2] 15vw [line-3];
  grid-template-rows: [row-0] 15vh [row-1] auto [row-2] auto [row-3] auto [row-4];
}
main.about section:nth-of-type(3) img:nth-of-type(1) {
  grid-column: line-0/line-1;
  grid-row: row-0/row-1;
  transform: rotate(90deg);
  width: 15vw;
  height: auto;
  justify-self: end;
  align-self: center;
}
main.about section:nth-of-type(3) img:nth-of-type(2) {
  grid-column: line-2/line-3;
  grid-row: row-0/row-1;
  transform: rotate(90deg);
  width: 15vw;
  height: auto;
  justify-self: start;
  align-self: center;
}
main.about section:nth-of-type(3) img:nth-of-type(3) {
  grid-column: line-0/line-3;
  grid-row: row-2/row-3;
  width: 100%;
  height: auto;
  padding: 2vh 0vw;
}
main.about section:nth-of-type(3) h2 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  align-self: center;
  font-size: 36px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  padding: 0vh 10vw;
}
main.about section:nth-of-type(3) p {
  text-align: center;
}
main.about section:nth-of-type(3) p:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
}
main.about section:nth-of-type(3) p:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
}
main.about section:nth-of-type(4) img {
  width: 0;
  height: 0;
}
main.about section:nth-of-type(5) {
  display: grid;
  grid-template-columns: [line-0] 15vw [line-1] 70vw [line-2] 15vw [line-3];
  grid-template-rows: [row-0] 15vh [row-1] auto [row-2] auto [row-3] auto [row-4];
}
main.about section:nth-of-type(5) img:nth-of-type(1) {
  grid-column: line-0/line-1;
  grid-row: row-0/row-1;
  transform: rotate(90deg);
  width: 15vw;
  height: auto;
  justify-self: end;
  align-self: center;
}
main.about section:nth-of-type(5) img:nth-of-type(2) {
  grid-column: line-2/line-3;
  grid-row: row-0/row-1;
  transform: rotate(90deg);
  width: 15vw;
  height: auto;
  justify-self: start;
  align-self: center;
}
main.about section:nth-of-type(5) img:nth-of-type(3) {
  width: 0;
  height: 0;
}
main.about section:nth-of-type(5) h2 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  align-self: center;
  font-size: 36px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  padding: 0vh 15vw;
}
main.about section:nth-of-type(5) p {
  text-align: center;
}
main.about section:nth-of-type(5) p:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
}
main.about section:nth-of-type(5) p:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
  padding: 3vh 0vw;
}

/** DESKTOP VERSION OF ABOUT US PAGE **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.about section:nth-of-type(1) {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 45vw [line-2] 15vw [line-3];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3];
  }
  main.about section:nth-of-type(1) img:nth-of-type(1) {
    display: none;
  }
  main.about section:nth-of-type(1) img:nth-of-type(2) {
    display: none;
  }
  main.about section:nth-of-type(1) img:nth-of-type(3) {
    display: none;
  }
  main.about section:nth-of-type(1) img:nth-of-type(4) {
    grid-column: line-0/line-1;
    grid-row: row-0/row-3;
    width: 35vw;
    height: 45vh;
    object-fit: cover;
    border: 0.5vw solid #EB7859;
    align-self: center;
    border-radius: 1vh;
    border-left: none;
  }
  main.about section:nth-of-type(1) h2 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    text-align: center;
    place-self: center;
    font-size: 100px;
    margin: 0;
  }
  main.about section:nth-of-type(1) p {
    grid-column: line-1/line-2;
    padding: 1.5vh 0vw;
  }
  main.about section:nth-of-type(1) p:nth-of-type(1) {
    grid-row: row-1/row-2;
    font-size: 20px;
    text-align: center;
  }
  main.about section:nth-of-type(1) p:nth-of-type(2) {
    grid-row: row-2/row-3;
    font-size: 20px;
    text-align: center;
  }
  main.about section:nth-of-type(2) {
    display: grid;
    grid-template-columns: [line-0] 10vw [line-1] 10vw [line-2] 10vw [line-3] 10vw [line-4] 10vw [line-5] 10vw [line-6] 10vw [line-7] 10vw [line-8] 10vw [line-9] 10vw [line-10];
    grid-template-rows: [row-0] 25vh [row-1];
  }
  main.about section:nth-of-type(2) img {
    transform: rotate(90deg);
    width: 8vw;
    height: auto;
    grid-row: row-0/row-1;
    align-self: center;
    animation: fadeInOut 5s linear both;
    animation-iteration-count: infinite;
  }
  main.about section:nth-of-type(2) img:nth-of-type(1) {
    grid-column: line-0/line-1;
    animation-delay: 0.5s;
  }
  main.about section:nth-of-type(2) img:nth-of-type(2) {
    grid-column: line-1/line-2;
    animation-delay: 1.5s;
  }
  main.about section:nth-of-type(2) img:nth-of-type(3) {
    grid-column: line-2/line-3;
    animation-delay: 2.5s;
  }
  main.about section:nth-of-type(2) img:nth-of-type(4) {
    grid-column: line-3/line-4;
    animation-delay: 3.5s;
  }
  main.about section:nth-of-type(2) img:nth-of-type(5) {
    grid-column: line-4/line-5;
    animation-delay: 4.5s;
  }
  main.about section:nth-of-type(2) img:nth-of-type(6) {
    grid-column: line-5/line-6;
    animation-delay: 5.5s;
  }
  main.about section:nth-of-type(2) img:nth-of-type(7) {
    grid-column: line-6/line-7;
    animation-delay: 6.5s;
  }
  main.about section:nth-of-type(2) img:nth-of-type(8) {
    grid-column: line-7/line-8;
    animation-delay: 7.5s;
  }
  main.about section:nth-of-type(2) img:nth-of-type(9) {
    grid-column: line-8/line-9;
    animation-delay: 8.5s;
  }
  main.about section:nth-of-type(2) img:nth-of-type(10) {
    grid-column: line-9/line-10;
    animation-delay: 9.5s;
  }
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  main.about section:nth-of-type(3) {
    display: grid;
    grid-template-columns: [line-0] 15vw [line-1] 45vw [line-2] 40vw [line-3];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3];
  }
  main.about section:nth-of-type(3) img:nth-of-type(1) {
    display: none;
  }
  main.about section:nth-of-type(3) img:nth-of-type(2) {
    display: none;
  }
  main.about section:nth-of-type(3) img:nth-of-type(3) {
    grid-column: line-2/line-3;
    grid-row: row-0/row-3;
    width: 35vw;
    height: 45vh;
    object-fit: cover;
    border: 0.5vw solid #EB7859;
    align-self: center;
    border-radius: 1vh;
    border-right: none;
    justify-self: end;
    padding: 0;
  }
  main.about section:nth-of-type(3) h2 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    text-align: center;
    place-self: center;
    font-size: 90px;
    margin: 0;
    padding: 0vh 0vw;
  }
  main.about section:nth-of-type(3) p {
    grid-column: line-1/line-2;
    padding: 1.5vh 0vw;
  }
  main.about section:nth-of-type(3) p:nth-of-type(1) {
    grid-row: row-1/row-2;
    font-size: 20px;
    text-align: center;
  }
  main.about section:nth-of-type(3) p:nth-of-type(2) {
    grid-row: row-2/row-3;
    font-size: 20px;
    text-align: center;
  }
  main.about section:nth-of-type(4) {
    display: grid;
    grid-template-columns: [line-0] 10vw [line-1] 10vw [line-2] 10vw [line-3] 10vw [line-4] 10vw [line-5] 10vw [line-6] 10vw [line-7] 10vw [line-8] 10vw [line-9] 10vw [line-10];
    grid-template-rows: [row-0] 25vh [row-1];
  }
  main.about section:nth-of-type(4) img {
    transform: rotate(270deg);
    width: 8vw;
    height: auto;
    grid-row: row-0/row-1;
    align-self: center;
    animation: fadeInOut 5s linear both;
    animation-iteration-count: infinite;
  }
  main.about section:nth-of-type(4) img:nth-of-type(1) {
    grid-column: line-0/line-1;
    animation-delay: 9.5s;
  }
  main.about section:nth-of-type(4) img:nth-of-type(2) {
    grid-column: line-1/line-2;
    animation-delay: 8.5s;
  }
  main.about section:nth-of-type(4) img:nth-of-type(3) {
    grid-column: line-2/line-3;
    animation-delay: 7.5s;
  }
  main.about section:nth-of-type(4) img:nth-of-type(4) {
    grid-column: line-3/line-4;
    animation-delay: 6.5s;
  }
  main.about section:nth-of-type(4) img:nth-of-type(5) {
    grid-column: line-4/line-5;
    animation-delay: 5.5s;
  }
  main.about section:nth-of-type(4) img:nth-of-type(6) {
    grid-column: line-5/line-6;
    animation-delay: 4.5s;
  }
  main.about section:nth-of-type(4) img:nth-of-type(7) {
    grid-column: line-6/line-7;
    animation-delay: 3.5s;
  }
  main.about section:nth-of-type(4) img:nth-of-type(8) {
    grid-column: line-7/line-8;
    animation-delay: 2.5s;
  }
  main.about section:nth-of-type(4) img:nth-of-type(9) {
    grid-column: line-8/line-9;
    animation-delay: 1.5s;
  }
  main.about section:nth-of-type(4) img:nth-of-type(10) {
    grid-column: line-9/line-10;
    animation-delay: 0.5s;
  }
  main.about section:nth-of-type(5) {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 45vw [line-2] 15vw [line-3];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3];
    margin-bottom: 5vh;
  }
  main.about section:nth-of-type(5) img:nth-of-type(1) {
    display: none;
  }
  main.about section:nth-of-type(5) img:nth-of-type(2) {
    display: none;
  }
  main.about section:nth-of-type(5) img:nth-of-type(3) {
    grid-column: line-0/line-1;
    grid-row: row-0/row-3;
    width: 35vw;
    height: 45vh;
    object-fit: cover;
    border: 0.5vw solid #EB7859;
    align-self: center;
    border-radius: 1vh;
    border-left: none;
  }
  main.about section:nth-of-type(5) h2 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    text-align: center;
    place-self: center;
    font-size: 90px;
    margin: 0;
    font-weight: 900;
    padding: 0vh 0vw;
  }
  main.about section:nth-of-type(5) p {
    grid-column: line-1/line-2;
    padding: 1.5vh 0vw;
  }
  main.about section:nth-of-type(5) p:nth-of-type(1) {
    grid-row: row-1/row-2;
    font-size: 20px;
    text-align: center;
  }
  main.about section:nth-of-type(5) p:nth-of-type(2) {
    grid-row: row-2/row-3;
    font-size: 20px;
    text-align: center;
  }
}
/** MOBILE VERSION OF MEET THE TEAM PAGE **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
main.team section:nth-of-type(1) {
  display: grid;
  grid-template-columns: [line-0] 15vw [line-1] 70vw [line-2] 15vw [line-3];
  grid-template-rows: [row-0] 20vh [row-1] auto [row-2] auto [row-3];
}
main.team section:nth-of-type(1) img {
  transform: rotate(90deg);
  grid-row: row-0/row-1;
  align-self: center;
  width: 15vw;
  height: auto;
}
main.team section:nth-of-type(1) img:nth-of-type(1) {
  grid-column: line-0/line-1;
  justify-self: start;
}
main.team section:nth-of-type(1) img:nth-of-type(2) {
  grid-column: line-2/line-3;
  justify-self: end;
}
main.team section:nth-of-type(1) h2 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  align-self: center;
  font-size: 36px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  padding: 0vh 10vw;
}
main.team section:nth-of-type(1) p {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  text-align: center;
  margin-bottom: 5vh;
}
main.team section:nth-of-type(2) {
  display: grid;
  grid-template-columns: [line-0] 100vw [line-1];
}
main.team section:nth-of-type(2) img {
  width: 100%;
  height: auto;
  justify-self: center;
  grid-column: line-0/line-1;
}
main.team section:nth-of-type(2) img:nth-of-type(2) {
  transform: rotate(90deg);
  width: 10vw;
  height: auto;
}
main.team section:nth-of-type(2) img:nth-of-type(4) {
  transform: rotate(90deg);
  width: 10vw;
  height: auto;
}
main.team section:nth-of-type(2) img:nth-of-type(6) {
  transform: rotate(90deg);
  width: 10vw;
  height: auto;
}
main.team section:nth-of-type(2) h3 {
  grid-column: line-0/line-1;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
main.team section:nth-of-type(2) p {
  grid-column: line-0/line-1;
  text-align: center;
}
main.team section:nth-of-type(2) p:nth-of-type(4) {
  margin-bottom: 3vh;
}

/** DESKTOP VERSION OF MEET THE TEAM PAGE **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.team section:nth-of-type(1) {
    display: grid;
    grid-template-columns: [line-0] 15vw [line-1] 70vw [line-2] 15vw [line-3];
    grid-template-rows: [row-0] auto [row-1] auto [row-2];
  }
  main.team section:nth-of-type(1) img:nth-of-type(1) {
    display: none;
  }
  main.team section:nth-of-type(1) img:nth-of-type(2) {
    display: none;
  }
  main.team section:nth-of-type(1) h2 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    text-align: center;
    font-size: 100px;
    place-self: center;
    padding: 0vh 0vw;
  }
  main.team section:nth-of-type(1) p {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    text-align: center;
    font-size: 20px;
  }
  main.team section:nth-of-type(2) {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 40vw [line-2];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6];
    justify-content: center;
    margin-bottom: 5vh;
  }
  main.team section:nth-of-type(2) img {
    width: 35vw;
    height: auto;
    margin-top: 10vh;
  }
  main.team section:nth-of-type(2) img:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
  }
  main.team section:nth-of-type(2) img:nth-of-type(2) {
    display: none;
  }
  main.team section:nth-of-type(2) img:nth-of-type(3) {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
  }
  main.team section:nth-of-type(2) img:nth-of-type(4) {
    display: none;
  }
  main.team section:nth-of-type(2) img:nth-of-type(5) {
    grid-column: line-0/line-1;
    grid-row: row-3/row-4;
  }
  main.team section:nth-of-type(2) img:nth-of-type(6) {
    display: none;
  }
  main.team section:nth-of-type(2) img:nth-of-type(7) {
    grid-column: line-1/line-2;
    grid-row: row-3/line-4;
  }
  main.team section:nth-of-type(2) h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
  }
  main.team section:nth-of-type(2) h3:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-1/row-2;
  }
  main.team section:nth-of-type(2) h3:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
  }
  main.team section:nth-of-type(2) h3:nth-of-type(3) {
    grid-column: line-0/line-1;
    grid-row: row-4/row-5;
  }
  main.team section:nth-of-type(2) h3:nth-of-type(4) {
    grid-column: line-1/line-2;
    grid-row: row-4/row-5;
  }
  main.team section:nth-of-type(2) p {
    text-align: center;
    font-size: 16px;
    margin: 0;
  }
  main.team section:nth-of-type(2) p:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-2/row-3;
  }
  main.team section:nth-of-type(2) p:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
  }
  main.team section:nth-of-type(2) p:nth-of-type(3) {
    grid-column: line-0/line-1;
    grid-row: row-5/row-6;
  }
  main.team section:nth-of-type(2) p:nth-of-type(4) {
    grid-column: line-1/line-2;
    grid-row: row-5/row-6;
  }
}
/** MOBILE VERSION OF SERVICES PAGE **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
main.services section {
  display: grid;
  grid-template-columns: [line-0] 10vw [line-1] 80vw [line-2] 10vw [line-3];
  grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] 32vh [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8] 32vh [row-9] auto [row-10] auto [row-11] auto [row-12] auto [row-13] 32vh [row-14] auto [row-15];
  margin-bottom: 2vh;
}
main.services section img:nth-of-type(1) {
  grid-column: line-0/line-3;
  grid-row: row-0/row-1;
  width: 15vw;
  height: auto;
  justify-self: center;
  padding: 2vh 0vw;
}
main.services section img:nth-of-type(2) {
  grid-column: line-0/line-3;
  grid-row: row-3/row-4;
  width: auto;
  height: 30vh;
  justify-self: center;
  align-self: center;
}
main.services section img:nth-of-type(3) {
  grid-column: line-0/line-3;
  grid-row: row-5/row-6;
  width: 15vw;
  height: auto;
  justify-self: center;
  padding: 2vh 0vw;
}
main.services section img:nth-of-type(4) {
  grid-column: line-0/line-3;
  grid-row: row-8/row-9;
  width: auto;
  height: 30vh;
  justify-self: center;
  align-self: center;
}
main.services section img:nth-of-type(5) {
  grid-column: line-0/line-3;
  grid-row: row-10/row-11;
  width: 15vw;
  height: auto;
  justify-self: center;
  padding: 2vh 0vw;
}
main.services section img:nth-of-type(6) {
  grid-column: line-0/line-3;
  grid-row: row-13/row-14;
  width: auto;
  height: 30vh;
  justify-self: center;
  align-self: center;
}
main.services section img:nth-of-type(7) {
  width: 0;
  height: 0;
}
main.services section h3 {
  grid-column: line-0/line-3;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
main.services section h3:nth-of-type(1) {
  grid-row: row-1/row-2;
}
main.services section h3:nth-of-type(2) {
  grid-row: row-6/row-7;
}
main.services section h3:nth-of-type(3) {
  grid-row: row-11/row-12;
}
main.services section h4 {
  grid-column: line-0/line-3;
  align-self: center;
  text-align: center;
  font-size: 36px;
  margin: 0;
  font-weight: bold;
}
main.services section h4:nth-of-type(1) {
  grid-row: row-3/row-4;
}
main.services section h4:nth-of-type(2) {
  grid-row: row-8/row-9;
}
main.services section h4:nth-of-type(3) {
  grid-row: row-13/row-14;
}
main.services section p {
  grid-column: line-1/line-2;
  text-align: center;
}
main.services section p:nth-of-type(1) {
  grid-row: row-2/row-3;
}
main.services section p:nth-of-type(2) {
  grid-row: row-4/row-5;
  font-size: 12px;
}
main.services section p:nth-of-type(3) {
  grid-row: row-7/row-8;
}
main.services section p:nth-of-type(4) {
  grid-row: row-9/row-10;
  font-size: 12px;
}
main.services section p:nth-of-type(5) {
  grid-row: row-12/row-13;
}
main.services section p:nth-of-type(6) {
  grid-row: row-14/row-15;
  font-size: 12px;
}
main.services section:nth-of-type(1) {
  display: grid;
  grid-template-columns: [line-0] 15vw [line-1] 70vw [line-2] 15vw [line-3];
  grid-template-rows: [row-0] 15vh [row-1] auto [row-2] auto [row-3];
}
main.services section:nth-of-type(1) img {
  transform: rotate(90deg);
  grid-row: row-0/row-1;
  align-self: center;
  width: 15vw;
  height: auto;
}
main.services section:nth-of-type(1) img:nth-of-type(1) {
  grid-column: line-0/line-1;
  justify-self: start;
}
main.services section:nth-of-type(1) img:nth-of-type(2) {
  grid-column: line-2/line-3;
  justify-self: end;
}
main.services section:nth-of-type(1) h2 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  align-self: center;
  font-size: 36px;
  font-weight: 900;
  margin: 0;
  text-align: center;
}
main.services section:nth-of-type(1) p {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  text-align: center;
}

/** DESKTOP VERSION OF SERVICES PAGE **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.services section:nth-of-type(1) {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 45vw [line-2] 15vw [line-3];
    grid-template-rows: [row-0] auto [row-1] auto [row-2];
  }
  main.services section:nth-of-type(1) img:nth-of-type(1) {
    display: none;
  }
  main.services section:nth-of-type(1) img:nth-of-type(2) {
    display: none;
  }
  main.services section:nth-of-type(1) h2 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    text-align: center;
    place-self: center;
    font-size: 100px;
    margin: 0;
  }
  main.services section:nth-of-type(1) p {
    grid-column: line-1/line-2;
    padding: 1.5vh 0vw;
  }
  main.services section:nth-of-type(1) p:nth-of-type(1) {
    grid-row: row-1/row-2;
    font-size: 20px;
    text-align: center;
  }
  main.services section:nth-of-type(2) {
    display: grid;
    grid-template-columns: [line-0] 45vw [line-1] 20vw [line-2] 25vw [line-3] 10vw [line-4];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8] auto [row-9];
    margin-bottom: 0;
  }
  main.services section:nth-of-type(2) p {
    text-align: center;
    margin: 0;
  }
  main.services section:nth-of-type(2) p:nth-of-type(1) {
    font-size: 20px;
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    align-self: center;
  }
  main.services section:nth-of-type(2) p:nth-of-type(2) {
    font-size: 12px;
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
  }
  main.services section:nth-of-type(2) p:nth-of-type(3) {
    font-size: 20px;
    grid-column: line-1/line-2;
    grid-row: row-4/row-5;
    align-self: center;
  }
  main.services section:nth-of-type(2) p:nth-of-type(4) {
    font-size: 12px;
    grid-column: line-2/line-3;
    grid-row: row-5/row-6;
  }
  main.services section:nth-of-type(2) p:nth-of-type(5) {
    font-size: 20px;
    grid-column: line-1/line-2;
    grid-row: row-7/row-8;
    align-self: center;
  }
  main.services section:nth-of-type(2) p:nth-of-type(6) {
    font-size: 12px;
    grid-column: line-2/line-3;
    grid-row: row-8/row-9;
  }
  main.services section:nth-of-type(2) img {
    align-self: center;
  }
  main.services section:nth-of-type(2) img:nth-of-type(1) {
    display: none;
  }
  main.services section:nth-of-type(2) img:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-0/row-2;
  }
  main.services section:nth-of-type(2) img:nth-of-type(3) {
    display: none;
  }
  main.services section:nth-of-type(2) img:nth-of-type(4) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-5;
  }
  main.services section:nth-of-type(2) img:nth-of-type(5) {
    display: none;
  }
  main.services section:nth-of-type(2) img:nth-of-type(6) {
    grid-column: line-2/line-3;
    grid-row: row-6/row-8;
  }
  main.services section:nth-of-type(2) img:nth-of-type(7) {
    grid-column: line-0/line-1;
    grid-row: row-0/row-9;
    width: 40vw;
    height: auto;
    align-self: end;
  }
  main.services section:nth-of-type(2) h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    grid-column: line-1/line-2;
    align-self: end;
  }
  main.services section:nth-of-type(2) h3:nth-of-type(1) {
    grid-row: row-0/row-1;
  }
  main.services section:nth-of-type(2) h3:nth-of-type(2) {
    grid-row: row-3/row-4;
  }
  main.services section:nth-of-type(2) h3:nth-of-type(3) {
    grid-row: row-6/row-7;
  }
  main.services section:nth-of-type(2) h4 {
    text-align: center;
    font-weight: bold;
    grid-column: line-2/line-3;
    place-self: center;
  }
  main.services section:nth-of-type(2) h4:nth-of-type(1) {
    grid-row: row-0/row-2;
  }
  main.services section:nth-of-type(2) h4:nth-of-type(2) {
    grid-row: row-3/row-5;
  }
  main.services section:nth-of-type(2) h4:nth-of-type(3) {
    grid-row: row-6/row-8;
  }
  main.services section:nth-of-type(2) h4:hover {
    font-size: 40px;
  }
}
/** MOBILE VERSION OF GALLERY PAGE **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
main.gallery section:nth-of-type(1) {
  display: grid;
  grid-template-columns: [line-0] 15vw [line-1] 70vw [line-2] 15vw [line-3];
  grid-template-rows: [row-0] 15vh [row-1] auto [row-2] auto [row-3];
}
main.gallery section:nth-of-type(1) img:nth-of-type(1) {
  grid-column: line-0/line-1;
  justify-self: start;
  transform: rotate(90deg);
  grid-row: row-0/row-1;
  align-self: center;
  width: 15vw;
  height: auto;
}
main.gallery section:nth-of-type(1) img:nth-of-type(2) {
  grid-column: line-2/line-3;
  justify-self: end;
  transform: rotate(90deg);
  grid-row: row-0/row-1;
  align-self: center;
  width: 15vw;
  height: auto;
}
main.gallery section:nth-of-type(1) img:nth-of-type(3) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  width: 20vw;
  height: auto;
  margin: 2vh 0vw;
  justify-self: center;
}
main.gallery section:nth-of-type(1) h2 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  align-self: center;
  font-size: 36px;
  font-weight: 900;
  margin: 0;
  text-align: center;
}
main.gallery section:nth-of-type(1) p {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  text-align: center;
}
main.gallery section:nth-of-type(2) {
  font-size: 0;
}
main.gallery section:nth-of-type(2) img {
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  border-top: 1vh solid #EB7859;
  border-bottom: 1vh solid #EB7859;
  margin: 0;
  padding: 0;
}

/** DESKTOP VERSION OF GALLERY PAGE **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.gallery section:nth-of-type(1) {
    display: grid;
    grid-template-columns: [line-0] 15vw [line-1] 45vw [line-2] 40vw [line-3];
    grid-template-rows: [row-0] auto [row-1] auto [row-2];
  }
  main.gallery section:nth-of-type(1) img {
    display: none;
  }
  main.gallery section:nth-of-type(1) h2 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    text-align: center;
    font-size: 100px;
    place-self: center;
  }
  main.gallery section:nth-of-type(1) p {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    text-align: center;
    font-size: 20px;
  }
  main.gallery section:nth-of-type(2) {
    display: grid;
    grid-template-columns: [line-0] 25vw [line-1] 25vw [line-2] 25vw [line-3] 5vw [line-4] 20vw [line-5];
    grid-template-rows: [row-0] 35vh [row-1] 40vh [row-2] 30vh [row-3];
    margin-top: 5vh;
  }
  main.gallery section:nth-of-type(2) img {
    object-fit: cover;
    border: none;
  }
  main.gallery section:nth-of-type(2) img:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
    width: 25vw;
    height: 35vh;
  }
  main.gallery section:nth-of-type(2) img:nth-of-type(2) {
    grid-column: line-1/line-4;
    grid-row: row-0/row-1;
    width: 55vw;
    height: 35vh;
  }
  main.gallery section:nth-of-type(2) img:nth-of-type(3) {
    grid-column: line-4/line-5;
    grid-row: row-0/row-1;
    width: 20vw;
    height: 35vh;
  }
  main.gallery section:nth-of-type(2) img:nth-of-type(4) {
    grid-column: line-0/line-2;
    grid-row: row-1/row-3;
    width: 50vw;
    height: 70vh;
  }
  main.gallery section:nth-of-type(2) img:nth-of-type(5) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    width: 25vw;
    height: 40vh;
  }
  main.gallery section:nth-of-type(2) img:nth-of-type(6) {
    grid-column: line-3/line-5;
    grid-row: row-1/row-2;
    width: 25vw;
    height: 40vh;
  }
  main.gallery section:nth-of-type(2) img:nth-of-type(7) {
    grid-column: line-2/line-5;
    grid-row: row-2/row-3;
    width: 50vw;
    height: 30vh;
  }
  main.gallery section:nth-of-type(2) img:hover {
    transform: scale(1.1);
  }
}
/** MOBILE VERSION OF CONTACT US PAGE **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
main.contact section:nth-of-type(1) {
  display: grid;
  grid-template-columns: [line-0] 15vw [line-1] 70vw [line-2] 15vw [line-3];
  grid-template-rows: [row-0] 15vh [row-1] auto [row-2] auto [row-3];
}
main.contact section:nth-of-type(1) img {
  transform: rotate(90deg);
  grid-row: row-0/row-1;
  align-self: center;
  width: 15vw;
  height: auto;
}
main.contact section:nth-of-type(1) img:nth-of-type(1) {
  grid-column: line-0/line-1;
  justify-self: start;
}
main.contact section:nth-of-type(1) img:nth-of-type(2) {
  grid-column: line-2/line-3;
  justify-self: end;
}
main.contact section:nth-of-type(1) h2 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  align-self: center;
  font-size: 36px;
  font-weight: 900;
  margin: 0;
  text-align: center;
}
main.contact section:nth-of-type(1) p {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  text-align: center;
}
main.contact section:nth-of-type(2) {
  display: grid;
  grid-template-columns: [line-0] 10vw [line-1] 80vw [line-2] 10vw [line-3];
}
main.contact section:nth-of-type(2) img {
  grid-column: line-1/line-2;
  justify-self: center;
}
main.contact section:nth-of-type(2) img:nth-of-type(1) {
  width: 20vw;
  height: auto;
  margin: 2vh 0vw;
}
main.contact section:nth-of-type(2) img:nth-of-type(2) {
  width: 10vw;
  height: auto;
  transform: rotate(90deg);
}
main.contact section:nth-of-type(2) img:nth-of-type(3) {
  width: 10vw;
  height: auto;
  transform: rotate(90deg);
}
main.contact section:nth-of-type(2) img:nth-of-type(4) {
  width: 20vw;
  height: auto;
  margin: 2vh 0vw;
}
main.contact section:nth-of-type(2) img:nth-of-type(5) {
  width: 0;
  height: 0;
}
main.contact section:nth-of-type(2) h3 {
  grid-column: line-0/line-3;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  margin: 0;
}
main.contact section:nth-of-type(2) p {
  grid-column: line-1/line-2;
  text-align: center;
}
main.contact section:nth-of-type(3) {
  display: grid;
  grid-template-columns: [line-0] 80vw [line-1];
  grid-template-rows: [row-0] auto [row-1];
  justify-content: center;
  margin-top: 2vh;
}
main.contact section:nth-of-type(3) form {
  grid-column: line-0/line-1;
  grid-row: row-0/row-1;
}
main.contact section:nth-of-type(3) form label {
  font-size: 18px;
  font-weight: bold;
  padding: 2vh 0;
}
main.contact section:nth-of-type(3) form input[type=text] {
  font-size: 14px;
  width: 80vw;
  display: inline-block;
  border: 5px solid #EB7859;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 2vh 1vw;
  margin: 1vh 0vw 2vh 0vw;
  color: #4A3B34;
}
main.contact section:nth-of-type(3) form input[type=submit] {
  font-size: 20px;
  font-weight: bold;
  width: 80vw;
  background-color: #EB7859;
  color: #4A3B34;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 2vh 1vw;
  margin: 3vh 0vw;
}

/** DESKTOP VERSION OF CONTACT US PAGE **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.contact section:nth-of-type(1) {
    display: grid;
    grid-template-columns: [line-0] 15vw [line-1] 70vw [line-2] 15vw [line-3];
    grid-template-rows: [row-0] auto [row-1] auto [row-2];
  }
  main.contact section:nth-of-type(1) img {
    display: none;
  }
  main.contact section:nth-of-type(1) h2 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    text-align: center;
    font-size: 100px;
    place-self: center;
  }
  main.contact section:nth-of-type(1) p {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    text-align: center;
    font-size: 20px;
  }
  main.contact section:nth-of-type(2) {
    display: grid;
    grid-template-columns: [line-0] 25vw [line-1] 25vw [line-2] 25vw [line-3];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3];
    justify-content: center;
  }
  main.contact section:nth-of-type(2) img {
    width: 10vw;
    height: auto;
    grid-row: row-0/row-1;
  }
  main.contact section:nth-of-type(2) img:nth-of-type(1) {
    grid-column: line-0/line-1;
    width: 10vw;
    height: auto;
  }
  main.contact section:nth-of-type(2) img:nth-of-type(2) {
    display: none;
  }
  main.contact section:nth-of-type(2) img:nth-of-type(3) {
    display: none;
  }
  main.contact section:nth-of-type(2) img:nth-of-type(4) {
    grid-column: line-1/line-2;
    width: 10vw;
    height: auto;
  }
  main.contact section:nth-of-type(2) img:nth-of-type(5) {
    grid-column: line-2/line-3;
    width: 10vw;
    height: auto;
  }
  main.contact section:nth-of-type(2) h3 {
    text-align: center;
    grid-row: row-1/row-2;
    font-size: 30px;
    font-weight: bold;
  }
  main.contact section:nth-of-type(2) h3:nth-of-type(1) {
    grid-column: line-0/line-1;
  }
  main.contact section:nth-of-type(2) h3:nth-of-type(2) {
    grid-column: line-1/line-2;
  }
  main.contact section:nth-of-type(2) h3:nth-of-type(3) {
    grid-column: line-2/line-3;
  }
  main.contact section:nth-of-type(2) p {
    text-align: center;
    grid-row: row-2/row-3;
  }
  main.contact section:nth-of-type(2) p:nth-of-type(1) {
    grid-column: line-0/line-1;
  }
  main.contact section:nth-of-type(2) p:nth-of-type(2) {
    grid-column: line-1/line-2;
  }
  main.contact section:nth-of-type(2) p:nth-of-type(3) {
    grid-column: line-2/line-3;
  }
  main.contact section:nth-of-type(3) {
    display: grid;
    grid-template-columns: [line-0] 50vw [line-1];
    grid-template-rows: [row-0] auto [row-1];
    justify-content: center;
    margin-top: 5vh;
  }
  main.contact section:nth-of-type(3) form {
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
  }
  main.contact section:nth-of-type(3) form label {
    font-size: 20px;
    font-weight: bold;
    padding: 2vh 0;
  }
  main.contact section:nth-of-type(3) form input[type=text] {
    font-size: 16px;
    width: 50vw;
    display: inline-block;
    border: 5px solid #EB7859;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2vh 1vw;
    margin: 1vh 0vw 2vh 0vw;
    color: #4A3B34;
  }
  main.contact section:nth-of-type(3) form input[type=submit] {
    font-size: 22px;
    font-weight: bold;
    width: 50vw;
    background-color: #EB7859;
    color: #4A3B34;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 2vh 1vw;
    margin: 3vh 0vw;
  }
}
/** MOBILE VERSION OF FOOTER **/
/** SCREEN DEVICE WIDTH MAXIMUM 999 PIXELS **/
footer {
  background-color: #75B79E;
}
footer img {
  width: 25vw;
  height: auto;
  margin-top: 3vh;
  animation: walk-mob 10s both linear infinite;
}
@keyframes walk-mob {
  from {
    transform: translateX(-25vw);
  }
  to {
    transform: translateX(125vw);
  }
}
footer div {
  padding: 2vh 0vw;
}
footer div:nth-of-type(2) {
  display: none;
}
footer div p {
  text-align: center;
  padding: 2vh 0vw 0vh 0vw;
}

/** DESKTOP VERSION OF FOOTER PAGE **/
/** SCREEN DEVICE WIDTH MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  footer {
    display: grid;
    grid-template-columns: [line-0] 10vw [line-1] 25vw [line-2] 30vw [line-3] 25vw [line-4] 10vw [line-5];
    grid-template-rows: [row-0] auto [row-1] auto [row-2];
  }
  footer img {
    width: 10vw;
    grid-column: line-0/line-5;
    grid-row: row-0/row-1;
    margin-top: 3vh;
    animation: walk 20s both linear infinite;
  }
  @keyframes walk {
    from {
      transform: translateX(-10vw);
    }
    to {
      transform: translateX(120vw);
    }
  }
  footer div:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
  }
  footer div:nth-of-type(1) p {
    text-align: center;
  }
  footer div:nth-of-type(2) {
    display: block;
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
  }
  footer div:nth-of-type(2) p {
    text-align: left;
    font-weight: bold;
  }
  footer div:nth-of-type(2) p a {
    text-decoration: none;
    color: #4A3B34;
  }
  footer div:nth-of-type(3) {
    grid-column: line-3/line-4;
    grid-row: row-1/row-2;
    align-self: end;
  }
  footer div:nth-of-type(3) p {
    text-align: right;
  }
  footer div:nth-of-type(3) p:nth-of-type(1) {
    padding: 0;
  }
}
html {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #AEC6CF;
  color: #4A3B34;
}

p {
  margin: 0;
}

a {
  color: #4A3B34;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
